@import "~assets/sass/base";

.bottom-section {
  @extend .btn-clock-bottom;
}

.btn.btn-link {
  padding: 0;
}

.bottom {
  position: absolute;
  bottom: 35px;
  left: 200px;
  button {
    border-radius: 25px;
    background: transparent;
    border: 4px solid $turquoise-blue;
    &:hover {
      background: $turquoise-blue;
      color: #000;
    }
  }
}
