<div class="container">
  <table class="table">
    <tbody>
    <tr *ngFor="let attr of mapStructure?.attributes; let i = index;">
      <td>{{attr.name}} = "{{attr.value}}"</td>
      <td>
        <button type="button" class="btn btn-link" (click)="openAddAtrributeModal(i)">
          <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn btn-link" (click)="removeAttribute(i)">
          <i class="fa fa-trash-o" aria-hidden="true"></i>
        </button>
      </td>
    </tr>

    </tbody>
  </table>

  <div class="bottom">
    <button type="button" class="btn btn-primary btn-block" (click)="openAddAtrributeModal()">Add attribute</button>
  </div>
</div>
