@import "~assets/sass/base";

.main {
  padding: 0;
  height: 100%;
  .result {
    padding: 10px;
  }
}

.row {
  margin: 0;
}

.main-result, .side-bar {
  @extend .base-shadow;
  @extend .side-bar;
}

.main-result {
  overflow-y: scroll;
}

.pane-title {
  @extend .pane-header;
}

.index-selector {
  margin: 2px;
  cursor: pointer;
}

.caret-left, .caret-right {
  position: absolute;
  top: 50%;
  z-index: 100;
  cursor: pointer;
}

.caret-left {
  left: 10px;

}

.caret-right {
  right: 10px;
}

.result-cards {
  position: relative;
}
