<div ngDraggable [handle]="popupHandle" role="small-popup-actions" class="small-popup-actions">
  <header>
    <h2 role="handle" #popupHandle> {{ header }} </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Server:</span>
    </div>
    <div class="col-md-4 has-form-label">
      <span class="form-label">{{action.server.type}}</span>
    </div>
    <div class="col-md-2 has-form-label">
      <span class="form-label">Timeout:</span>
    </div>
    <div class="col-md-4">
      <input class="form-control" type="number" name="quantity" min="1" max="5" [(ngModel)]="action.timeout">
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Method:</span>
    </div>
    <div class="col-md-4">
      <select class="form-control" [ngModel]="action.method.name"  (ngModelChange)="onChange($event)" >
        <option>-- select method --</option>
				<option *ngFor="let method of action.server.methods" [ngValue]="method.name">{{ method.viewName }}</option>
			</select>
    </div>
    <div class="col-md-2 has-form-label">
      <span class="form-label">Timeunit:</span>
    </div>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="action.timeunit">
        <option value>--- select unit ---</option>
        <option value="1">seconds</option>
        <option value="2">minutes</option>
      </select>
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2">
      <span class="form-label">Action name:</span>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="name" [(ngModel)]="action.name">
    </div>
    <div class="col-md-2">
      <span class="form-label">Retries:</span>
    </div>
    <div class="col-md-4">
      <input class="form-control" type="number" name="quantity" min="1" max="5" [(ngModel)]="action.retries">
    </div>
  </div>
  <section class="row" style="margin:2%">
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <div class="form-group has-checkbox">
        <label for="action-chx-1" class="form-checkbox">
                    <input type="checkbox" id="action-chx-1" [(ngModel)]="action.mandatory"><i></i>
                    <span class="form-label">Mandatory Action</span>
                </label>
      </div>
    </div>
    <div class="col-md-2">
    </div>
    <div class="col-md-4">
      <div class="form-group has-checkbox">
        <label for="action-chx-2" class="form-checkbox">
                    <input type="checkbox" id="action-chx-2" [(ngModel)]="action.suspend"><i></i>
                    <span class="form-label">Suspend Action</span>
                </label>
      </div>
    </div>
  </section>
  <section>
    <div role="parameters">
      <h3>Parameters</h3>
      <div class="pmap-table">
        <div class="thead-wrapper">
          <div class="thead">
            <div class="tr pmap-header">
              <div class="cell">Name</div>
              <div class="cell">Code</div>
              <div class="cell">Value</div>
            </div>
          </div>
        </div>
        <div class="tbody-wrapper">
          <div class="tbody">
            <div *ngFor="let param of action.method.params" class="tr">
              <div class="cell">{{param.name}}</div>
              <div class="cell">
                <label class="form-checkbox">
                    <input type="checkbox" [(ngModel)]="param.code"><i></i>
                </label>
              </div>
              <div class="cell">
                <div [hidden]="!(param.type === 'string' || param.code === true)">
                  <!-- Input type string -->
                  <input type="text" class="form-control" placeholder="enter value..." [(ngModel)]="param.text">
                </div>

                <div [hidden]="!(param.type === 'text')">
                  <!-- Input type text area -->
                  <textarea rows="4" cols="50" placeholder="enter value..." [(ngModel)]="param.text"> </textarea>
                </div>

                <div [hidden]="!(param.type === 'collection')">
                      <!--Input type collection-->
                    <select class="form-control" [(ngModel)]="param.text">
                              <option>-- select option --</option>
                      <option *ngFor="let opt of param.options" [ngValue]="opt.id">{{ opt.name }}</option>
                    </select>
                </div>

                <div [hidden]="!(param.type === 'file' && (!param.code || param.code === false))">
                  <!-- Input type file -->
                  <input class="form-control" type="file" placeholder="select file..." [(ngModel)]="param.file" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn-event" type="button" (click)="save()"><i class="pmap-28"></i>save</button>
        <button class="btn-event btn-no-icon" (click)="cancel()" type="button">cancel</button>
    </footer>
</div>