.large-popup {
    position: absolute;
    z-index: 2000;
    background-color: #404345;
    width: 1150px;
    margin-left: -276px;
}

.large-popup > header {
  text-align: center;
  height: 34px;
  background-color: #5d5f61;
  cursor: default;
}

.large-popup > header h2 {
  margin: 0;
  line-height: 34px;
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
}

.large-popup > header i {
  width: 36px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  cursor: pointer;
  color: #393b3d;
}

.large-popup > header i:hover {
  color: #9e9c9c;
}

.large-popup > section {
  padding: 25px 33px;
  border-bottom: 1px solid #323436;
}

.large-popup > footer {
  padding: 20px 29px;
  text-align: right;
}

.large-popup > footer button {
  vertical-align: middle;
}

.large-popup > footer button:first-child {
  margin-right: 4px;
}

.tile {
  border: 0;
  border-radius: 0;
}

.card.bg-dark {
  background: #32363a !important;
}

.card-title {
  font-size: 15px;
  color: #000;
}

.card-text {
  font-size: 13px;
}

.tile .card-body {
  padding-top: 5px;
  padding-bottom: 3px;
  padding-right: 1rem;
  padding-left: 1rem;
}

.prev-arrows {
  position: absolute;
  left: 0px;
  margin-top: 150px;
}

.next-arrows {
  position: absolute;
  right: 0px;
  margin-top: 150px;
}

.carousel-index span i {
  cursor: pointer;
}

h3.section-title {
  color: #000;
  font-weight: bold;
  font-size: 17px;
}

h3.map-name {
  color: #fff;
  font-size: 23px;
}

.line{
  border-top:3px solid #35383a;
  position:relative;
  margin-top: 10px;
  margin-bottom: 10px;
}


.line-1:before{
  content: '';
  position:absolute;
  left: 15%;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #404345 transparent;
  z-index: 10;
}

.line-1:after{
  content: '';
  position:absolute;
  left: 15%;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #35383a transparent;
}

.line-2:before{
  content: '';
  position:absolute;
  left: 50%;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #404345 transparent;
  z-index: 10;
}

.line-2:after{
  content: '';
  position:absolute;
  left: 50%;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #35383a transparent;
}

.line-3:before{
  content: '';
  position:absolute;
  left: 85%;
  top: -9px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #404345 transparent;
  z-index: 10;
}

.line-3:after{
  content: '';
  position:absolute;
  left: 85%;
  top: -12px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #35383a transparent;
}
