<div ngDraggable [handle]="popupHandle" role="large-popup" class="large-popup">
  <header>
    <!-- <span >DRAG ME FROM HERE</span> -->
    <h2 #popupHandle role="handle">Execution Dashboard</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    <div class="row">

    </div>
    <div class="row">
      <!-- execution details -->
      <div class="col col-md-8">
        <div class="col col-sm-12">
          <h3 class="map-name">{{mapNode.name}}</h3>
          <p>Execution Summary</p>
        </div>
        <div class="card-deck">
          <div class="card tile bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">Start</h4>
              <p class="card-text">{{ execution?.startTime | date: 'short' }}</p>
            </div>
          </div>
          <div class="card tile bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">End</h4>
              <p class="card-text">{{ execution?.finishTime | date: 'short' }}</p>
            </div>
          </div>
          <div class="card tile bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">Total Time</h4>
              <p class="card-text">0</p>
            </div>
          </div>
          <div class="card tile bg-dark text-white">
            <div class="card-body">
              <h4 class="card-title">Status</h4>
              <p class="card-text">{{ execution?.status }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col col-md-4">
        <canvas #myChart height="90"></canvas>

      </div>
    </div>
    <div class="row" *ngIf="processesChunks">
      <!-- process details -->
      <div class="col col-sm-12">
        <h3 class="section-title">Processes</h3>
      </div>
      <div class="col col-sm-12">
        <div class="carousel-index text-center">
          <span *ngFor="let item of processesChunks; let i = index">
            <i class="fa fa-circle-o" aria-hidden="true" *ngIf="i !== processesChunksIndex" (click)="processesChunksIndex = i"></i>
            <i class="fa fa-dot-circle-o" aria-hidden="true" *ngIf="i === processesChunksIndex"></i>
          </span>
        </div>
      </div>
      <div class="prev-arrows">
        <button (click)="previousProcessesChunk()" type="button" [disabled]="processesChunksIndex===0"><i
          class="pmap-432"></i></button>
      </div>

      <div class="col col-md-4" *ngFor="let process of processesChunks[processesChunksIndex]; let i = index;">
        <app-proccess-detail [process]="process" [selected]="selectedProcess.index === i" (click)="onSelectProcess(process, i)" *ngIf="selectedProcess"></app-proccess-detail>
        <app-proccess-detail [process]="process" [selected]="false" (click)="onSelectProcess(process, i)" *ngIf="!selectedProcess"></app-proccess-detail>
      </div>



      <div class="next-arrows">
        <button (click)="nextProcessesChunk()" type="button"
                [disabled]="processesChunksIndex >= processesChunks.length"><i class="pmap-43"></i></button>
      </div>

      <div class="col col-sm-12" *ngIf="selectedProcess">
        <div class="line line-{{selectedProcess.index + 1}}">

        </div>
      </div>

      <div class="col-sm-12" *ngIf="!selectedProcess">Select process to see actions details</div>

    </div>

    <div class="row" *ngIf="selectedProcess">
      <!-- actions details -->
      <div class="col col-sm-12">
        <h3 class="section-title">Actions</h3>
      </div>
      <div class="col col-sm-12">
        <div class="carousel-index text-center">
          <span *ngFor="let item of selectedProcess.actionChunks; let i = index">
            <i class="fa fa-circle-o" aria-hidden="true" *ngIf="i !== actionChunksIndex" (click)="actionChunksIndex=i"></i>
            <i class="fa fa-dot-circle-o" aria-hidden="true" *ngIf="i === actionChunksIndex"></i>
          </span>
        </div>
      </div>

      <div class="prev-arrows">
        <button (click)="previousActionsChunk()" type="button" [disabled]="actionChunksIndex===0"><i
          class="pmap-432"></i></button>
      </div>

      <div class="col col-md-4" *ngFor="let action of selectedProcess.actionChunks[actionChunksIndex]">
        <app-action-detail [action]="action"></app-action-detail>
      </div>

      <div class="next-arrows">
        <button (click)="nextActionsChunk()" type="button"
                [disabled]="actionChunksIndex >= selectedProcess.actionChunks.length"><i class="pmap-43"></i></button>
      </div>

    </div>

  </section>
</div>
