@import '~assets/sass/variables';

.root {
  height: 100%;
  .pm-sidebar {
    max-width: 80px;
    flex: 0 0 80px;
    background-color: $turquoise-blue;
    img {
      width: 52px;
      margin-top: 23px;
      margin-left: 14px;
    }

  }
  .main {
    padding: 0px;
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
  }
}

.nav {
  align-items: center;
  padding: 45px;
  li.nav-item {
    a.nav-link {
      color: $text-color;
      margin-bottom: 44px;
      font-size: 25px;
    }
  }
}

.search {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

