.root {
  height: 100%;
  .pm-sidebar {
    max-width: 80px;
    flex: 0 0 80px;
  }
  .main {
    padding: 0px;
    flex: 0 0 calc(100% - 80px);
    max-width: calc(100% - 80px);
  }
}

.nav {
  align-items: center;
  li.nav-item {
    &.active {
      a.nav-link {
        color: #fff;
      }
    }
    a.nav-link {
      color: #c7c7c7;
      &:hover {
        color: #fff;
        transition: color 0.5s ease-out;
      }
    }

  }
}

.search {
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
}

