<div class="row root">
  <div class="pm-sidebar">
    <img src="/assets/images/pm.png" alt="" />
    <ul class="nav flex-column">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/projects"><i class="icon-folder1" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" routerLink="/maps"><i class="icon-map" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/admin"><i class="icon-admin" aria-hidden="true"></i></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" (click)="toggleSearch()"><i class="icon-search1" aria-hidden="true"></i></a>
      </li>

      <li dropdown class="nav-item dropdown">
        <a class="nav-link" href dropdownToggle (click)="false">
          <i class="icon-add-new" aria-hidden="true"></i>
        </a>

        <div *dropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/maps/create">New Map</a>
          <a class="dropdown-item" routerLink="/projects/create">New Project</a>
        </div>
      </li>

    </ul>
  </div>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</div>


<div class="search bg-light col-4 animated slideInLeft" *ngIf="search">
  <app-search (close)="toggleSearch()"></app-search>
</div>
<ng2-toasty></ng2-toasty>
