<div>
  <tree-root #tree [nodes]="projectsTree" [options]="treeOptions"></tree-root>
</div>
<div>
  <div class="side-bar-left-btn">
    <button class="action-add-btn" type="button" (click)="addProject()">
        <i class="pmap-25"></i>Add Project
      </button>
  </div>
</div>
<context-menu #projectCtx>
  <ng-template contextMenuItem (execute)="addMap($event.item)">
    Add Map
  </ng-template>
  <ng-template contextMenuItem (execute)="addFolder($event.item)">
    Add Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameNode($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteProject($event.item)">
    Delete Project
  </ng-template>
</context-menu>
<context-menu #folderCtx>
  <ng-template contextMenuItem (execute)="addMap($event.item)">
    Add Map
  </ng-template>
  <ng-template contextMenuItem (execute)="addFolder($event.item)">
    Add Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFolder($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFolder($event.item)">
    Delete Folder
  </ng-template>
</context-menu>
<context-menu #mapCtx>
  <ng-template contextMenuItem (execute)="renameNode($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteMap($event.item)">
    Delete Map
  </ng-template>
  <ng-template contextMenuItem (execute)="showExecutions($event.item)">
    Show Executions
  </ng-template>
  <ng-template contextMenuItem (execute)="showVersions($event.item)">
    Show Versions
  </ng-template>
</context-menu>
