nav[region="agents"] {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0;
}

nav[region="agents"] a {
  display: table-row;
  border-collapse: collapse;
  border-spacing: 0;
}

nav[region="agents"] a span {
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 62px;
  border-bottom: 1px solid #1f2122;
  background-color: #2d2f30;
  display: table-cell;
  vertical-align: middle;
}

nav[region="agents"] a span:first-child {
  width: 74px;
  text-align: center;
  font-size: 28px;
  line-height: 56px;
}

nav[region="agents"] a span:first-child i {
  vertical-align: middle;
}

nav[region="agents"] a span:first-child + span {
  font-size: 13px;
  color: #bbb;
  padding-right: 24px;
}

nav[region="hierarchy"] {
  padding: 7px 17px;
}

nav[region="hierarchy"] li {
  color: #bbb;
  font-size: 14px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

nav[region="hierarchy"] li::selection {
  background: #262829 !important; /* WebKit/Blink Browsers */
}

nav[region="hierarchy"] li li {
  padding-left: 25px;
}

nav[region="hierarchy"] .catalog:before {
  content: '\e913';
  font-family: 'productionmap';
  color: #929292;
  font-size: 10px;
  margin-right: 6px;
  vertical-align: middle;
  display: inline-block;
}

nav[region="hierarchy"] .catalog > i:before {
  display: inline-block;
  content: '\e912';
  font-family: 'productionmap';
  color: #d4b64f;
  font-style: normal;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 17px;
}

nav[region="hierarchy"] .file {
  padding-left: 34px;
}

nav[region="hierarchy"] .file > i:before {
  display: inline-block;
  content: '\e916';
  font-family: 'productionmap';
  color: #d4b64f;
  font-style: normal;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 15px;
  color: #86ccfe;
}


::selection {
  background: #262829 !important; /* WebKit/Blink Browsers */
}

*::-moz-selection {
  background: #262829; /* Gecko Browsers */
}

.side-bar-left-btn {
  position: absolute;
  bottom: 0;
  height: 37px;
  padding-right: 50px;
  margin-bottom: 1px;
  width: 100%;
  border-top: 1px solid;
}

.action-add-btn {
  width: 100%;
}

.active {
  background: #000;
  color: #ffffff;
  border-radius: 5px;
  padding: 3px;
}