<div>
  <p-tree #tree [value]="projectsTree" (onNodeExpand)="loadNode($event)">
    <ng-template let-node pTemplate="default">
      <span
        *ngIf="!node.data || !node.data?.type || node.data?.type ==='project'"
        [contextMenu]="projectCtx" [contextMenuSubject]="node"><i class="pmap-21 text-warning"></i> {{node.label}} </span>
      <span
      *ngIf="node.data?.type === 'folder'"
      [contextMenu]="folderCtx" [contextMenuSubject]="node"><i class="pmap-21 text-warning"></i> {{node.label}} </span>
      <span
      (click)="selectMap(node)"
      [ngClass]="{ 'active': selectedMap.id === node.data.map }"
      *ngIf="node.data?.type === 'map'"
      [contextMenu]="mapCtx" [contextMenuSubject]="node"><i class="pmap-24 text-info"></i> {{node.label}} </span>
    </ng-template>
  </p-tree>
</div>

<div>
  <div class="side-bar-left-btn">
    <button class="action-add-btn" type="button" (click)="addProject()">
        <i class="pmap-25"></i>Add Project
      </button>
  </div>
</div>

<context-menu #projectCtx>
  <ng-template contextMenuItem (execute)="addMap($event.item)">
    Add Map
  </ng-template>
  <ng-template contextMenuItem (execute)="addFolder($event.item)">
    Add Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameProject($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteProject($event.item)">
    Delete Project
  </ng-template>
</context-menu>
<context-menu #folderCtx>
  <ng-template contextMenuItem (execute)="addMap($event.item)">
    Add Map
  </ng-template>
  <ng-template contextMenuItem (execute)="addFolder($event.item)">
    Add Folder
  </ng-template>
  <ng-template contextMenuItem (execute)="renameFolder($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteFolder($event.item)">
    Delete Folder
  </ng-template>
</context-menu>
<context-menu #mapCtx>
  <ng-template contextMenuItem (execute)="renameNode($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteMap($event.item)">
    Delete Map
  </ng-template>
  <ng-template contextMenuItem (execute)="showExecutions($event.item)">
    Show Executions
  </ng-template>
  <ng-template contextMenuItem (execute)="showVersions($event.item)">
    Show Versions
  </ng-template>
</context-menu>
