@import "~assets/sass/base";
@import "~assets/sass/mixins";
@import "~assets/sass/variables";

.map-nav {
  //@include border-box($dark-color, 1px, 0, 1px, 0);
  height: 70px;
  border-top: 1px solid $cool-grey;
  border-bottom: 1px solid $cool-grey;
  font-size: 16px;
  line-height: 18px;
  padding-top: 16px;
  ul.nav {
    height: 100%;
  }
}

.action-buttons {
  position: absolute;
  right: 55px;
  top: 65px;
  .btn {
    padding: 5px 29px 5px 29px;
    color: $text-color;
    background: transparent;
    border-radius: 20px;
    border: 2px solid $turquoise-blue;
    &:hover {
      cursor: pointer;
      background: $turquoise-blue;
      color: $background;
      font-weight: bolder;
    }
  }
}

.nav-item {
  &.active {
    border-bottom: 5px solid $turquoise-blue;
  }
}

.header {
  height: 48px;
  padding: 15px;
  h1 {
    font-size: 20px;
    line-height: 18px;
    color: $text-color;

  }
}

.router-wrapper {
  height: calc(100% - 145px);
}
