<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a new map</h1>
      <form [formGroup]="projectForm" (ngSubmit)="onSubmitForm(projectForm.value)">
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control" formControlName="name"/>
          <div
            *ngIf="projectForm.get('name').invalid && (projectForm.get('name').touched || projectForm.get('name').touched)">
            Name is mandatory
          </div>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea type="text" id="description" class="form-control" placeholder="eg. Managing CI/CD of..."
                    formControlName="description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="projectForm.invalid">Create</button>
      </form>
    </div>
  </div>
</div>
