[role="info-box"] {
  width: 100%;
  height: 176px;
  background-color: #35383a;
  position: relative;
  padding: 9px 11px;
}

[role="info-box"]:hover, [role*="popup-"][role="popup-execution-dashboard"] > section [role="info-box"].active {
  background-color: #2d2f30;
}

h3 {
  margin: 10px 0 8px;
  margin-left: 7px;
  font-size: 13px;
  font-weight: normal;
}

.label {
  margin-right: 2px;
}

header:before, header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

header .search {
  float: right;
  width: 114px;
  position: relative;
}

header .search input {
  height: 18px;
  width: 100%;
  border: none;
  box-shadow: none;
  background: transparent;
  border-bottom: 1px solid #565b5d;
  color: #bbbbbb;
}

header .search input:active, header .search input:focus {
  border-bottom-color: #02a7c7;
  color: #FFF;
}

header .search input::selection {
  background-color: #02a7c7;
  color: #FFF;
}

header .search input::-moz-selection {
  background-color: #02a7c7;
  color: #FFF;
}

header .search button {
  position: absolute;
  right: 0;
  top: 0;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: right;
  cursor: pointer;
  display: block;
  color: #6f6f6f;
  cursor: pointer;
}

header .search button:hover, header .search button:active {
  color: #bbb;
}

header .search button i {
  font-size: 13px;
  position: relative;
  top: -1px;
}

header ul {
  margin: 0;
  padding: 0;
  float: left;
}

header ul:before, header ul:after {
  content: " ";
  display: table;
}

header ul:after {
  clear: both;
}

header ul li {
  float: left;
  padding-right: 16px;
}

header ul li:last-child {
  padding-right: 0;
}

header ul li a {
  display: block;
  height: 18px;
  color: #7a7a7a;
  line-height: 12px;
}

header ul li.active a {
  color: #02a7c7;
  border-bottom: 2px solid #02a7c7;
}

header ul li:hover a {
  color: #02a7c7;
}

[role="btn-menu"] button {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: block;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  width: 17px;
  text-align: center;
}

[role="btn-menu"] button i {
  color: #6c6c6c;
  cursor: pointer;
}

[role="btn-menu"] button:hover i, [role="btn-menu"] button:active i {
  color: #9e9c9c;
}

.tab-content .tab-summary .str {
  margin-bottom: 9px;
  padding-right: 40px;
  line-height: 17px;
}

.tab-content .tab-summary [role="status"] {
  margin-left: 9px;
}

.tab-content .tab-summary [role="status"] i {
  font-size: 10px;
}

.tab-content .tab-status section, .tab-content .tab-response section {
  /*.col {
								display: table-cell;
								vertical-align: top;
								&:last-child {
									padding-top: 25px;
								}
							}*/
}

.tab-content .tab-status section .gchart, .tab-content .tab-response section .gchart {
  width: 100%;
  height: 80px;
}

.tab-content .tab-servers h3 {
  margin-bottom: 3px;
}

.tab-content .tab-servers .pmap-table {
  border: none;
  padding-left: 0;
}

.date-cell {
  text-align: center;
}

.tab-content .tab-servers .pmap-table .cell:first-child {
  width: 120px;
}

.tab-content .tab-servers .pmap-table .cell:nth-child(3), .tab-content .tab-servers .pmap-table .cell:nth-child(4) {
  width: 63px;
}

.tab-content .tab-servers .pmap-table .cell:last-child {
  width: 50px;
}

.tab-content .tab-servers .pmap-table .thead-wrapper {
  padding-right: 0;
}

.tab-content .tab-servers .pmap-table .thead-wrapper .thead {
  color: #7a7a7a;
  font-weight: normal;
}

.tab-content .tab-servers .pmap-table .thead-wrapper .thead .cell {
  font-size: 13px;
  padding: 6px 0;
}

.tab-content .tab-servers .pmap-table .thead-wrapper .thead .cell:last-child {
  width: auto;
  padding-right: 50px;
}

.tab-content .tab-servers .pmap-table .tbody-wrapper {
  height: 93px;
  padding-right: 0;
}

.tab-content .tab-servers .pmap-table .tbody-wrapper .tbody .cell {
  padding: 6px 0;
  line-height: 15px;
  vertical-align: middle;
}

.tab-content .tab-servers .pmap-table .tbody-wrapper .tbody .cell:last-child {
  text-align: right;
  padding-right: 18px;
}

.tab-content .tab-servers .pmap-table .tbody-wrapper .tbody .cell:nth-child(2) {
  text-align: center;
}

.tab-content .tab-servers .pmap-table .tbody-wrapper .tbody .cell i {
  font-size: 13px;
}

.green {
  background-color: #44bb75;
}

.yellow {
  background-color: #eab839;
}

.blue {
  background-color: #00a8e9;
}

.grid {
  display: table;
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

.grid .row {
  display: table-row;
}

.grid .row .cell {
  display: table-cell;
  border: 0;
  padding: 0;
  font-size: 13px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  color: #bbb;
  white-space: nowrap;
  text-overflow: clip;
  height: 28px;
}

.grid .row .cell::selection {
  background-color: #02a7c6;
  color: #FFF;
}

.grid .row .cell::-moz-selection {
  background-color: #02a7c6;
  color: #FFF;
}

.grid .row .cell i {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
}

.grid .row .cell i.red {
  background-color: #f85656;
}

.grid .row .cell:first-child {
  padding-left: 0;
}

.grid .row .cell:last-child {
  padding-right: 0;
}

.grid .row .cell:last-child i {
  font-size: 3px;
}

.chart-cell {
  margin-left: -50px;
  height: 100px;
  width: 100px;
}

.grid .row .cell .label i {
  margin-right: 5px;
}
