<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle> Add Map</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    <div class="form-group has-form-label">
      <label for="pr-namea" class="form-label">Name Your Map</label>
      <input id="pr-namea" type="text" class="form-control" [(ngModel)]="mapName">
    </div>
  </section>
  <footer>
    <button class="btn-event btn-no-icon" type="button" (click)="create()"> Create </button>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
  </footer>
</div>
