section {
  height: 100%;
  width: 100%;
}

[region="layout-1"] {
  height: 100%;
  width: 100%;
  background-color: #404345;
  padding-left: 165px;
}

[region="layout-1"]:before, [region="layout-1"]:after {
  content: " ";
  display: table;
}

[region="layout-1"]:after {
  clear: both;
}

[region="layout-1"] [role="left-menu"] {
  float: left;
  margin-left: -165px;
  width: 165px;
  height: 100%;
  background-color: #2d2f30;
  padding: 22px 0;
}

[region="layout-1"] [role="left-menu"] h2 {
  margin: 0;
  font-size: 20px;
  font-weight: normal;
  color: #02a7c7;
  padding: 0 27px 7px;
}

[region="layout-1"] [role="left-menu"] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

[region="layout-1"] [role="left-menu"] ul li a {
  color: #bbbbbb;
  font-size: 13px;
  display: block;
  padding: 9px 27px;
}

[region="layout-1"] [role="left-menu"] ul li:hover a {
  color: #FFF;
}

[region="layout-1"] [role="left-menu"] ul li.active {
  background-color: #404345;
}

[region="layout-1"] [role="left-menu"] ul li.active a {
  color: #FFF;
}

[region="layout-1"] [role="left-menu"] + section {
  float: left;
  width: 100%;
  padding: 22px 27px;
}

[region="layout-1"] [role="left-menu"] + section > [region] > h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

[region="layout-1"] [role="left-menu"] + section > [region] > h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

[region="layout-1"] [role="left-menu"] ul li a.active {
  background-color: #404345;
}
