<section>
  <div region="layout-1">
    <nav role="left-menu">
      <h2>Admin</h2>
      <ul>
        <li><a routerLinkActive="active" [routerLink]="['calendar']">Calendar</a></li>
        <li><a routerLinkActive="active" [routerLink]="['agents']">Agents</a></li>
        <li><a routerLinkActive="active" [routerLink]="['plugins']">Plugins</a></li>
        <li><a routerLinkActive="active" [routerLink]="['SystemHooks']">System Hooks</a></li>
      </ul>
    </nav>
    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</section>
