<div region="data-table">
  <header>
      <div class="input-group">
          <input id="searchtext" type="text" [(ngModel)]="search.text" class="form-control" placeholder="Search agent">
          <label for="searchtext"><i class="pmap-4"></i></label>
        </div>
  </header>
  <section>
    <div class="grid">
      <div class="row" *ngFor="let server of servers | filterBy: ['name']: search.text | serverFilter:search">
        <div class="cell sm-cell"><span>{{ server.name }}</span></div>
        <div *ngIf="server.alive" class="sm-cell cell"><span><i class="green server-status"></i></span></div>
        <div *ngIf="!server.alive" class="sm-cell cell"><span><i class="red server-status"></i></span></div>
      </div>

    </div>
  </section>
  <footer>
    <div class="form-group has-checkbox">
      <label for="action-chx-1" class="form-checkbox">
          <input type="checkbox" id="action-chx-1" [(ngModel)]="map.deleteData"><i></i>
          <span class="form-label">delete execution data after execution.</span>
      </label>
    </div>
    <button type="button" (click)="addServer()"><i class="pmap-25"></i>Select servers</button>
  </footer>
</div>
