<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
    <header>
      <!-- <span >DRAG ME FROM HERE</span> -->
      <h2 #popupHandle role="handle">{{ popupFields.title }}</h2>
      <i role="closing" class="pmap-15" (click)="closeWindow(false)"></i>
    </header>
    <section>
      <div class="form-group has-form-label">
        <label for="pr-namea" class="form-label">{{ popupFields.message }}</label>
      </div>
    </section>
    <footer>
      <button class="btn-event btn-no-icon" type="button" (click)="closeWindow(true)">{{ popupFields.action }}</button>
      <button class="btn-event btn-no-icon" (click)="closeWindow(false)" type="button">{{ popupFields.abort }}</button>
    </footer>
  </div>