<div role="agents">
  <h2 class="agents-title"><i class="pmap-1 noHover"></i>System Hooks</h2>
  <div class="pmap-table">
    <div class="thead-wrapper">
      <div class="thead">
        <div class="tr">
          <div class="cell">Name</div>
          <div class="cell">Developer</div>
          <div class="cell">Description</div>
          <div class="cell">Version</div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    <div class="tbody-wrapper">
      <div class="tbody">
        <div *ngFor="let hook of systemHooks; let hookIndex = index" class="tr">
          <div class="cell">{{hook.name}}</div>
          <div class="cell">{{hook.developer}}</div>
          <div class="cell">{{hook.description }}</div>
          <div class="cell">{{hook.version }}</div>
          <div class="cell">
            <button type="button" (click)="deleteSystemHook(hookIndex)"><i class="pmap-27"></i></button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn-event" (click)="addSystemHook()"><i class="pmap-25"></i>Add System Hook</button>
</div>
