<div class="attributes-wrapper">
  <div class="attributes-col">
    <span>{{ attribute.name }}</span>
  </div>
  <div class="attributes-col">
    <div class="pm-table">
      <div class="pm-table-row">
        <div *ngIf="attribute.type == 'String'" class="pm-table-col"><span class="redText">"</span></div>
        <div *ngIf="attribute.type == 'List'" class="pm-table-col"><span class="yellowText">[</span></div>
        <div class="pm-table-col"><span>{{attribute.strValue | shorten: 10: '...'}}</span></div>
        <div *ngIf="attribute.type == 'String'" class="pm-table-col"><span class="redText">"</span></div>
        <div *ngIf="attribute.type == 'List'" class="pm-table-col"><span class="yellowText">]</span></div>
      </div>
    </div>
  </div>
  <div class="attributes-right-col">
    <button type="button" class="pointer inline" (click)="edit()"><i class="pmap-35"></i></button>
    <button type="button" class="pointer inline" (click)="delete()"><i class="pmap-27"></i></button>
  </div>
</div>
