.row {
  display: table-row;
  border-bottom: 1px solid #4a4e50;
}

.row .cell {
  height: 31px;
  vertical-align: middle;
  display: table-cell;
  padding: 0;
  margin: 0;
  font-size: 13px;
  color: #bbb;
}

.row .cell button {
  width: 25px;
}

.row .cell::selection {
  color: #FFF;
  background-color: #02a7c6;
}

.row .cell::-moz-selection {
  color: #FFF;
  background-color: #02a7c6;
}

.row .cell.orange:first-letter {
  background-color: #e67259;
}

.redText {
  color: #f93815;
}

.yellowText {
  color: yellow;
}

.pmap-35, .pmap-27 {
  color: #6f6f6f;
  padding: 5px 0;
}

.attributes-wrapper {
  display: block;
  width: 100%;
  min-height: 35px;
  font-size: 13px;
  color: #bbb;
  padding: 8px 0;
  border-bottom: 1px solid #4a4e50;
}

.attributes-col {
  display: inline-block;
  width: 31%;
  float: left;
  overflow: hidden;
  text-overflow: ellipsis;
}

.attributes-wrapper > .attributes-col:first-child {
  margin-right: 10px;
}

.attributes-right-col {
  display: inline-block;
  width: 25%;
  float: right;
  text-align: right;
}

.pm-table {
  display: table;
}

.pm-table-row {
  display: table-row;
}

.pm-table-col {
  display: table-cell;
}

.attributes-wrapper > .attributes-right-col > button i:hover {
  color: #fff;
}
