<div class="container pm-modal">
  <div class="modal-header">
    <h1>{{ title }}</h1>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true" (click)="onCancel()">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    {{ message }}
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="onCancel()">{{ cancel }}</button>
    <button type="submit" class="btn-primary btn" (click)="onConfirm()">{{ confirm }}</button>
  </div>
</div>
