<section>
  <h2 class="agents-title"><i class="pmap-1 noHover"></i>Agents</h2>

  <div class="pmap-table search-bar pm-font">
    <div class="tbody-wrapper filter-bar">
      <div class="tbody">
        <div class="tr">
          <div class="cell">
            <div class="filter-label">
              <span>
                Filter by
              </span>
            </div>
            <div class="filter-input">
              <select class="form-control filter" [(ngModel)]="search.type">
                <option> -- select method -- </option>
                <option [ngValue]="1">Name</option>
                <option [ngValue]="2">Architecture</option>
                <option [ngValue]="3">Attribute</option>
              </select>
            </div>
          </div>
          <div [hidden]="search.type === 3">
            <div class="cell">
              <div class="filter-label">
                <span>
                  Search term:
                </span>
              </div>
              <div class="filter-input">
                <input type="text" class="form-control" [(ngModel)]="search.text" />
              </div>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button"><i class="pmap-25"></i> Filter </button>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> Clear filter </button>
            </div>
          </div>
          <div [hidden]="search.type !== 3">
            <div class="cell">
              <div class="filter-label">
                <span>
                  Key:
                </span>
              </div>
              <div class="filter-input">
                <input type="text" class="form-control" [(ngModel)]="search.attrName" />
              </div>
            </div>
            <div class="cell">
                <div class="filter-label">
                  <span>
                    Value:
                  </span>
                </div>
                <div class="filter-input">
                  <input type="text" class="form-control" [(ngModel)]="search.text" />
                </div>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button"><i class="pmap-25"></i> filter </button>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> clear filter </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" *ngIf="snodesTree">
      
    <p-treeTable [value]="snodesTree">
        
      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          Name
        
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
        
          <span
            *ngIf="node.data.name && !node.data.data"
            pDroppable="treedragdrop" (onDrop)="onDrop($event, node)" (onDragOver)="onDragOver($event, node)" (onDragLeave)="onDragLeave($event, node)"
            [ngClass]="{'drop': draggedNode}"
            pDraggable="treedragdrop" (onDragStart)="onDragStart($event, node)" (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="groupCtx" [contextMenuSubject]="node"><i class="pmap-21 text-warning"></i> {{node.data.name}}</span>
          <span
            *ngIf="node.data.name && node.data.data"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node"><i class="fa fa-cloud" aria-hidden="true" [ngClass]="{'text-success': agentsStatus[node.data.data.key].alive, 'text-danger': !agentsStatus[node.data.data.key].alive}"></i> {{node.data.name}}</span>
          <span
            *ngIf="!node.data.name"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node"><i class="fa fa-cloud" aria-hidden="true" [ngClass]="{'text-success': agentsStatus[node.data.data.key].alive, 'text-danger': !agentsStatus[node.data.data.key].alive}"></i>   {{node.data.data.name}}</span>
        </ng-template>
      </p-column>
      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          URL
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
          <span
            *ngIf="node.data.data"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node">{{node.data.data.url}}</span>
        </ng-template>
      </p-column>
      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          Free Disk Space
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <span
            *ngIf="node.data.data"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node">{{agentsStatus[node.data.data.key].freeSpace? agentsStatus[node.data.data.key].freeSpace:' ---'}}</span>
        </ng-template>
      </p-column>
      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          Response Time
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <span
            *ngIf="node.data.data"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node">{{agentsStatus[node.data.data.key].respTime? agentsStatus[node.data.data.key].respTime:' ---'}}</span>
        </ng-template>
      </p-column>
      <p-column>
        <ng-template let-col let-node="rowData" pTemplate="header">
          Architecture
        </ng-template>
        <ng-template let-col let-node="rowData" pTemplate="body">
            <span
            *ngIf="node.data.data"
            pDraggable="treedragdrop"
            (onDragStart)="onDragStart($event, node)"
            (onDragEnd)="onDragEnd($event, node)"
            [contextMenu]="serverCtx" [contextMenuSubject]="node">{{node.data.data.arch}}</span>
        </ng-template>
      </p-column>
    </p-treeTable>
    <span class="dropPadding btn btn-block" [ngClass]="{'drop': draggedNode}"  pDroppable="treedragdrop" (onDrop)="onDrop($event, null)" *ngIf="draggedNode"> Drop in tree head </span>
    
  </div>
  <div class="nl-wrapper">
    <button type="button" class="btn-event" (click)="newGroup(null)"><i class="pmap-25"></i>New Group</button>
  </div>
</section>

<context-menu #groupCtx>
  <ng-template contextMenuItem (execute)="newGroup($event.item)">
    New Group
  </ng-template>
  <!-- <ng-template contextMenuItem (execute)="renameGroup($event.item)"> -->
  <ng-template contextMenuItem>
    Rename Group
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteGroup($event.item)">
    Delete Group
  </ng-template>
</context-menu>
<context-menu #serverCtx>
  <ng-template contextMenuItem (execute)="editAgent($event.item.data)">
    Edit Agent
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteAgent($event.item.data)">
    Delete Agent
  </ng-template>
</context-menu>
