<section>
  <h2 class="agents-title"><i class="pmap-1 noHover"></i>Agents</h2>

  <div class="pmap-table search-bar pm-font">
    <div class="tbody-wrapper filter-bar">
      <div class="tbody">
        <div class="tr">
          <div class="cell">
            <div class="filter-label">
              <span>
                Filter by
              </span>
            </div>
            <div class="filter-input">
              <select class="form-control filter" [(ngModel)]="search.type">
                <option> -- select method -- </option>
                <option [ngValue]="1">Name</option>
                <option [ngValue]="2">Architecture</option>
                <option [ngValue]="3">Attribute</option>
              </select>
            </div>
          </div>
          <div [hidden]="search.type === 3">
            <div class="cell">
              <div class="filter-label">
                <span>
                  Search term:
                </span>
              </div>
              <div class="filter-input">
                <input type="text" class="form-control" [(ngModel)]="search.text" />
              </div>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button"><i class="pmap-25"></i> Filter </button>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> Clear filter </button>
            </div>
          </div>
          <div [hidden]="search.type !== 3">
            <div class="cell">
              <div class="filter-label">
                <span>
                  Key:
                </span>
              </div>
              <div class="filter-input">
                <input type="text" class="form-control" [(ngModel)]="search.attrName" />
              </div>
            </div>
            <div class="cell">
                <div class="filter-label">
                  <span>
                    Value:
                  </span>
                </div>
                <div class="filter-input">
                  <input type="text" class="form-control" [(ngModel)]="search.text" />
                </div>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button"><i class="pmap-25"></i> filter </button>
            </div>
            <div class="cell">
              <div class="height-placeholder"></div>
              <button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> clear filter </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pmap-table pm-font">
    <div class="thead-wrapper">
      <div class="thead">
        <div class="tr">
            <div class="cell sm-cell"></div>
            <div class="cell sm-cell align-left"><span>Status</span></div>
            <div class="cell md-cell align-left"><span>Name</span></div>
            <div class="cell md-cell align-left"><span>IP</span></div>
            <div class="cell md-cell align-left"><span>HostName</span></div>
            <div class="cell md-cell align-left"><span>Architecture</span></div>
            <div class="cell md-cell align-left"><span>Free Disk Space</span></div>
            <div class="cell md-cell align-left"><span>Response Time</span></div>
            <div class="cell sm-cell align-left"></div>
            <div class="cell sm-cell align-left"></div>
        </div>
      </div>
    </div>
    <div class="tbody-wrapper">
      <div class="tbody">
        <!-- | serverFilter:search -->
        <tree-root #tree [nodes]="agents" [options]="treeOptions" (onMoveNode)="onMoveNode($event)">
            <ng-template #treeNodeTemplate let-node="node.data" let-index="index">
                <div *ngIf="!node.hasChildren" class="tr">
                    <div *ngIf="node.data.alive" class="sm-cell cell"><span><i class="green server-status"></i></span></div>
                    <div *ngIf="!node.data.alive" class="sm-cell cell"><span><i class="red server-status"></i></span></div>
                    <div class="cell md-cell"><span>{{ node.data.name }}</span></div>
                    <div class="cell md-cell"><span>{{ node.data.url }}</span></div>
                    <div class="cell md-cell"><span>{{ node.data.hostname }}</span></div>
                    <div class="cell md-cell"><span>{{ node.data.arch }}</span></div>
                    <div class="cell md-cell"><span>{{ node.data.freeSpace }}</span></div>
                    <div class="cell md-cell"><span>{{ node.data.respTime }}</span></div>
                    <div class="cell sm-cell"><button type="button" (click)="editAgent(node.data)"><i class="pmap-3"></i></button></div>
                    <div class="cell sm-cell"><button type="button" (click)="deleteAgent(node)"><i class="pmap-27"></i></button></div>
                </div>
                <div *ngIf="node.hasChildren" class="tr">
                    <div class="sm-cell cell"></div>
                    <div class="cell md-cell"><span>{{ node.name }}</span></div>
                    <div class="cell md-cell"></div>
                    <div class="cell md-cell"></div>
                    <div class="cell md-cell"></div>
                    <div class="cell md-cell"></div>
                    <div class="cell md-cell"></div>
                    <div class="cell md-cell"></div>
                    <div class="cell sm-cell"></div>
                    <div class="cell sm-cell"></div>
                </div>
            </ng-template>
          </tree-root>
      </div>
    </div>
  </div>
  <div class="nl-wrapper">
    <button type="button" class="btn-event" (click)="newGroup(null)"><i class="pmap-25"></i>New Group</button>
  </div>
</section>

<context-menu #groupCtx>
  <ng-template contextMenuItem (execute)="newGroup($event.item)">
    New Group
  </ng-template>
  <!-- <ng-template contextMenuItem (execute)="renameGroup($event.item)"> -->
  <ng-template contextMenuItem>
    Rename Group
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteGroup($event.item)">
    Delete Group
  </ng-template>
</context-menu>
<context-menu #serverCtx>
  <ng-template contextMenuItem (execute)="editAgent($event.item.data.data)">
    Edit Agent
  </ng-template>
  <ng-template contextMenuItem (execute)="deleteAgent($event.item.data)">
    Delete Agent
  </ng-template>
</context-menu>
