h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

h2 i {
  vertical-align: top !important;
}

.filter-bar {
  overflow-y: hidden;
}

.filter-label {
  margin: 5px;
}

.filter-input {
  margin: 10px;
}

.filter-button {
  margin: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

i.green {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #28b671;
}

i.red {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f93815;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.sm-cell {
  width: 55px;
  text-align: center;
}

.md-cell {
  width: 180px;
}

.lg-cell {
  width: 300px;
}

.pmap-table .tbody .tr .cell[ng-reflect-hidden="true"] {
  display: none;
}

.pmap-table .thead {
  color: #02a7c7;
}

.filter-input .filter {
  height: 26px;
}

.height-placeholder {
  height: 22px;
}

.nl-wrapper {
  margin-top: 10px;
}

.pmap-3 {
  font-size: 15px;
}
