.main {
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 35px;
  margin-top: 39px;
  margin-bottom: 39px;
  .featured {
    width: 100%;
  }
}

.filter {
  h5 {
    padding-bottom: 15px;
  }
  div {
    padding-bottom: 10px;

    i {
      position: relative;
      top: 30px;
      left: 175px;
    }
  }
}
