<div class="main">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="section-title">{{project?.name}} maps</h1>
      <a routerLink="/projects/update" [queryParams]="{'project': project?.id}" class="btn-primary btn"
         (click)="editProject()">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a>
      <p class="lead">{{project?.description}}</p>
    </div>
  </div>

  <div class="filter d-flex justify-content-between align-items-end">
    <h5 class="section-sub-title">All projects</h5>
    <div>
      <i class="fa fa-search" aria-hidden="true" *ngIf="!filterTerm"></i>
      <i class="fa fa-times" aria-hidden="true" *ngIf="filterTerm" (click)="filterTerm = null"></i>
      <input class="form-control" [(ngModel)]="filterTerm" type="text" placeholder="Filter"/>
    </div>
  </div>

  <div class="row">
    <p class="lead" *ngIf="!project?.maps || project?.maps?.length === 0">
      No maps yet.
      Go ahead and <a routerLink="/maps/create" [queryParams]="{'project': project?.id}">add a new map</a>.
    </p>


    <table class="table" *ngIf="project?.maps?.length > 0">
      <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Created</th>
        <th scope="col">Updated</th>
      </tr>
      </thead>
      <tbody>

      <tr *ngFor="let map of project?.maps | filter:{term: filterTerm, param: 'name'}; let i = index">
        <td><a [routerLink]="['/maps', map.id]">{{ map.name }}</a></td>
        <td>{{ map.description | truncatechars : 70 : '' }}<span class="etc" *ngIf="map?.description?.length > 70"> ... </span></td>
        <td>{{ (map.createdAt | date: 'dd/MM/yyyy') + ' ' + (map.createdAt | date: 'HH:mm') }}</td>
        <td *ngIf="map.updatedAt">{{ (map.updatedAt | date: 'dd/MM/yyyy') + ' ' + (map.updatedAt | date: 'HH:mm') }}</td>
        <td *ngIf="!map.updatedAt"> -</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>


