.small-popup-install-agent {
  position: absolute;
  z-index: 2000;
  background-color: #404345;
  width: 656px;
  left: 50%;
  margin-left: -328px;
}

.small-popup-install-agent > header {
  text-align: center;
  height: 34px;
  background-color: #5d5f61;
  cursor: default;
}

.small-popup-install-agent > header h2 {
  margin: 0;
  line-height: 34px;
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
}

.small-popup-install-agent > header i {
  width: 36px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  cursor: pointer;
  color: #393b3d;
}

.small-popup-install-agent > header i:hover {
  color: #9e9c9c;
}

.small-popup-install-agent > section {
  padding: 25px 33px;
  border-bottom: 1px solid #323436;
}

.small-popup-install-agent > footer {
  padding: 20px 29px;
  text-align: right;
}

.small-popup-install-agent > footer button {
  vertical-align: middle;
}

.small-popup-install-agent > footer button:first-child {
  margin-right: 4px;
}

.small-popup-install-agent[role="small-popup-install-agent"] {
  top: 47px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] > h3 {
  font-size: 14px;
  color: #000;
  margin: 0 0 3px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table {
  margin-bottom: 10px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .thead .tr .cell:first-of-type, .small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .thead .tr .cell:nth-of-type(2), .small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:first-of-type, .small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:nth-of-type(2) {
  width: 130px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:nth-of-type(3) {
  width: 63px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:nth-of-type(7), .small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:nth-of-type(8) {
  width: 18px;
}

.small-popup-install-agent[role="small-popup-install-agent"] [role="parameters"] .pmap-table .tbody .tr .cell:last-child {
  padding-right: 10px;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-group {
  width: 378px;
  margin-bottom: 18px;
}

.small-popup-install-agent[role="small-popup-install-agent"] .form-checkbox {
  margin-right: 56px;
}

.small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox {
  padding-left: 158px;
}

.small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox:before, .small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox:after {
  content: " ";
  display: table;
}

.small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox:after {
  clear: both;
}

.small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox .form-checkbox {
  float: left;
  margin-left: -158px;
  width: 158px;
  margin-right: 0;
}

.small-popup-install-agent[role="small-popup-install-agent"] .has-checkbox .form-control {
  float: left;
  width: 100%;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label {
  padding-left: 85px;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label:before, .small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label:after {
  content: " ";
  display: table;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label:after {
  clear: both;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label .form-label {
  width: 85px;
  margin-left: -85px;
  float: left;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .has-form-label .form-control {
  width: 100%;
  float: left;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group:first-child {
  width: 100%;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group:before, .small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group:after {
  clear: both;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group .col {
  float: left;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group .col:first-child {
  width: 378px;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-horizontal .form-group .col:first-child + .col {
  width: 212px;
  text-align: right;
}

.small-popup-install-agent[role="small-popup-install-agent"] section:nth-of-type(2) {
  padding-top: 16px;
}

.small-popup-install-agent[role="small-popup-install-agent"] section:nth-of-type(3) {
  padding-top: 14px;
}

.small-popup-install-agent[role="small-popup-install-agent"] section .form-group:last-child {
  margin-bottom: 0;
}

.small-popup-install-agent[role="small-popup-add-trigger"] {
  top: 90px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal {
  width: 310px;
  margin-bottom: 5px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group {
  padding-left: 58px;
  margin-bottom: 20px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group:before, .small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group:after {
  clear: both;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group .form-label {
  height: 26px;
  line-height: 20px;
  width: 58px;
  display: block;
  float: left;
  margin-left: -58px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group .form-control {
  width: 100%;
}

.small-popup-install-agent[role="small-popup-add-trigger"] .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 10px;
  color: #060606;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table {
  width: 100%;
  border: 1px solid #565b5d;
  border-radius: 2px;
  border-collapse: separate;
  padding: 0 15px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table td {
  border-bottom: 1px solid #565b5d;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table thead {
  color: #111212;
  font-size: 13px;
  font-weight: 700;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table thead td {
  padding: 5px 0;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td {
  padding: 6px 0;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td .form-control {
  width: 100%;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td .form-control.bootstrap-select {
  width: 106px;
}

.small-popup-install-agent[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody tr:last-child td {
  border-bottom: none;
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #4c5051;
  width: 120px;
  height: 120px;
  margin-left: 40%;
  margin-top: 10%;
  margin-bottom: 10%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}