<div [draggable] role="small-popup-install-agent" class="small-popup-install-agent">
  <header>
    <h2> Install Base Agent </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
    <div [hidden]="!installing" class="loader"></div>
  <section [hidden]="installing">
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">URL:</span>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="url" [(ngModel)]="agent.url">
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">username:</span>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="username" [(ngModel)]="agent.username">
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Agent Port:</span>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" placeholder="port" [(ngModel)]="agent.port">
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Key:</span>
    </div>
    <div class="col-md-6">
      <textarea class="form-control" [(ngModel)]='agent.sshKey' rows="30" cols="120">
      </textarea>
    </div>
  </div>
  </section>
  <footer [hidden]="installing">
      <button class="btn-event" type="button" (click)="installAgent(agent)"><i class="pmap-26 "></i>install</button>
      <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Cancel</button>
  </footer>
</div>