<div class="container" *ngIf="triggers">
    <div class="row triggers" *ngFor="let trigger of triggers; let i = index;">
        <div class="col-sm-12 d-flex d-flex justify-content-between trigger">
            <span>{{trigger?.name}}</span>
            <span><i class="fa fa-pencil" (click)="editTrigger(trigger, i)" aria-hidden="true"> </i> <i class="fa fa-trash" aria-hidden="true" (click)="deleteTrigger(trigger.id, index)"> </i></span>
        </div>
    </div>
</div>

<div class="side-bar-right-btn">
    <button class="btn action-add-btn" (click)="addTrigger()"><i class="pmap-25"></i> Add Trigger</button>
</div>