/*.link .connection-wrap,
.link .connection {
   fill: none;
   stroke: #6b6b6b;
   stroke-width: 4px;
}

.link .marker-target {
    fill: #6b6b6b;
    stroke: black;
}

.marker-source {
    display: none;
}
*/

/* links */

.link .connection {
    stroke: #6b6b6b;
    stroke-width: 3px;
}

.link .marker-arrowhead, .link .marker-vertex {
    fill: #31D0C6;
}
.link .marker-arrowhead:hover {
    fill: #F39C12;
}

.link .marker-target {
    fill: #6b6b6b;
    stroke: black;
}

.link-tools .tool-remove circle {
    fill: #fe854f;
}

/* port styling */
.available-magnet {
    fill: green;
}

/* element styling */
.available-cell rect {
    stroke-dasharray: 5, 2;
}

.zoom-section {
  z-index: 10;
  position: absolute;
  right: 20px;
  top: 10px;
}

.zoom-section button {
  cursor: pointer;
}

#paper {
   margin-top: 30px;
}

.paper-wrapper {
    overflow-y: auto !important;
    overflow-x: auto !important;
    height: 100%;
    width: 100%;
}

.paper-wrapper::-webkit-scrollbar {
    width: 1em;
}

.paper-wrapper::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.paper-wrapper::-webkit-scrollbar-thumb {
  background-color: #4c5051;
  outline: 1px solid slategrey;
}
