<div class="zoom-section" >
    <button type="button" (click)="zoomIn()"><img src="/assets/img/zoom-in.png" alt=""></button>
    <button type="button" (click)="zoomOut()"><img src="/assets/img/zoom-out.png" alt=""></button>
</div>
<div class="paper-wrapper">
    <div id="paper" ></div>
</div>
<context-menu>
  <ng-template contextMenuItem (execute)="openRenameModal($event.item)">
    Rename
  </ng-template>
  <ng-template contextMenuItem (execute)="openDeleteModal($event.item)">
    Delete
  </ng-template>
</context-menu>