<div class="container">
  <div class="row heading-row">
    <span>
      <i mwlCalendarPreviousView
         [view]="view"
         [(viewDate)]="viewDate" class="fa fa-chevron-left pointer arrow" aria-hidden="true"></i>
    </span>
    <div class="col-md-10 col-lg-8">
      <h2 class="text-center calendar-title">{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h2>
    </div>
    <span>
      <i
        mwlCalendarNextView
        [view]="view"
        [(viewDate)]="viewDate"
        class="fa fa-chevron-right left-arrow pointer arrow" aria-hidden="true"></i>
    </span>
  </div>
  <div class="row">
      <div class="col-md-10 col-lg-8 buttons-header">
        <div class="row">
          <div class="col-md-12">
            <div class="buttons-wrapper text-center">
              <div
                class="inline-block pm-button"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate">
                Previous
              </div>
              <div
                class="inline-block pm-button"
                mwlCalendarToday
                [(viewDate)]="viewDate">
                Today
              </div>
              <div
                class="inline-block pm-button"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate">
                Next
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-10 col-lg-8">
      <div [ngSwitch]="view">
        <mwl-calendar-month-view
          *ngSwitchCase="'month'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          [activeDayIsOpen]="activeDayIsOpen"
          (dayClicked)="dayClicked($event.day)"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-month-view>
        <mwl-calendar-week-view
          *ngSwitchCase="'week'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <mwl-calendar-day-view
          *ngSwitchCase="'day'"
          [viewDate]="viewDate"
          [events]="events"
          [refresh]="refresh"
          (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-day-view>
      </div>
      </div>
    </div>
</div>
