/*h3 {
    margin: 0;
}
.container {
    padding-bottom: 50px;
}*/

.calendar-title {
  font-size: 18px;
  color: #bbbbbb;
}

.buttons-header {
  height: 38px;
  border: 1px solid #323436;
  margin: 0;
}

.btn-group > .btn.pm-button {
  padding: .3rem 1rem;
}

.inline-block {
  display: inline-block;
}

.pm-button {
  padding: .2rem 0.7rem;
  border: 1px solid #696F70;
  cursor: pointer;
  margin-left: -5px;
  font-size: 13px;
  color: #fff;
  background-color: #3C3E41;
}

.buttons-wrapper {
  margin-top: 5px;
}

.heading-row {
  margin-bottom: 10px;
}

.container {
  margin-left: 0;
}

.arrow {
  color: #bbbbbb;
}

.left-arrow {
  position: relative;
  right: 25px;
}
