section {
  width: 100%;
  height: 100%;
  overflow: auto;
  border-left: 1px solid #1f2122;
  border-right: 1px solid #1f2122;
}

footer {
  background-color: #36393b;
  border-left: 1px solid #1f2122;
  border-right: 1px solid #1f2122;
  border-top: 1px solid #1f2122;
}

footer:before, footer:after {
  content: " ";
  display: table;
}

footer:after {
  clear: both;
}

footer [role="left-tabs"] {
  float: left;
  height: 37px;
}

footer [role="left-tabs"] [role="tab"] {
  float: left;
  height: 100%;
  line-height: 36px;
  padding: 0 15px 0 13px;
  display: block;
  border-right: 1px solid #1f2122;
  color: #757677;
  background-color: #36393b;
  font-size: 14px;
  cursor: pointer;
}

footer [role="left-tabs"] [role="tab"]:before, footer [role="left-tabs"] [role="tab"]:after {
  content: " ";
  display: table;
}

footer [role="left-tabs"] [role="tab"]:after {
  clear: both;
}

footer [role="left-tabs"] [role="tab"] i {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;
  font-size: 13px;
  position: relative;
  top: -2px;
}

footer [role="left-tabs"] [role="tab"]:last-child {
  border: none;
}

footer [role="left-tabs"] [role="tab"]:hover, footer [role="left-tabs"] [role="tab"]:active, footer [role="left-tabs"] [role="tab"].active, footer [role="left-tabs"] [role="tab"]:focus {
  background-color: #4b4f51;
  color: #bbb;
}

footer [role="left-tabs"] [role="tab"].active i {
  color: #5db5f4;
}

footer [role="right-btns"] {
  float: right;
  height: 37px;
  min-width: 180px;
}

footer [role="right-btns"]:before, footer [role="right-btns"]:after {
  content: " ";
  display: table;
}

footer [role="right-btns"]:after {
  clear: both;
}

footer [role="right-btns"] button {
  border: 1px solid #696f70;
  border-radius: 1px;
  background-color: #3c3e41;
  height: 28px;
  line-height: 22px;
  padding: 0 14px 0 0;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 13px;
  display: block;
  float: left;
  margin-right: 3px;
  margin-top: 4px;
}

footer [role="right-btns"] button i {
  display: inline-block;
  width: 32px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  color: #3aac59;
}

footer [role="right-btns"] button i:before {
  position: relative;
  top: -1px;
}

footer [role="right-btns"] button:hover, footer [role="right-btns"] button:active, footer [role="right-btns"] button.active, footer [role="right-btns"] button:focus {
  background-color: #4b4f51;
  color: #bbb;
}

.nonScrollable {
  overflow: hidden;
}

.designer-wrapper {
  position: relative;
}
