<section [ngSwitch]="currentPanel" class="nonScrollable designer-wrapper">
  <app-map-designer (paperInit)="updateManagmentPanel($event)" *ngSwitchCase="0" [width]="800" [height]="500" [gridSize]="10"></app-map-designer>
  <app-map-code-editor *ngSwitchCase="2"></app-map-code-editor>
</section>
<footer>
  <div role="left-tabs">
    <span role="tab" [class.active]="currentPanel == 0" (click)="selectPanel(0)"><i class="pmap-29"></i>Design</span>
    <span role="tab" [class.active]="currentPanel == 2" (click)="selectPanel(2)" style="border-right: 1px solid #1f2122;"><i class="pmap-18"></i>Code</span>
  </div>
  <div role="right-btns">
    <button *ngIf="!savingMap" type="button" [disabled]="executingMap || savingMap" (click)="saveMap(map)">
      <i class="pmap-28"></i>Save
    </button>
    <button *ngIf="savingMap" type="button">
      <i class="pmap-28"></i>Saving...
    </button>
    <button *ngIf="!executingMap" type="button" (click)="executeMap(map)">
      <i class="pmap-26"></i>
      <span>Save and Execute</span>
    </button>
    <button *ngIf="executingMap" type="button" (click)="stopMap(map, executingMap)">
      <i class="pmap-31"></i>
      <span>Stop</span>
    </button>
  </div>
</footer>
