a {
  display: block;
  height: 61px;
  line-height: 61px;
  text-align: center;
  border-left: 3px solid transparent;
  font-size: 26px;
}

a.active, a:active, a:hover {
  color: #02a7c7;
  border-left-color: #02a7c7;
  background-color: #2d2f30;
  text-decoration: none;
}

nav.left-pane-nav a:hover {
  text-decoration: none;
}
