<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle> Attribute</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    <div class="form-group has-form-label">
      <label for="pr-key" class="form-label">Key</label>
      <input id="pr-key" type="text" class="form-control" [(ngModel)]="attr.name">
    </div>
    <div class="form-group has-form-label">
      <label class="form-label col" *ngFor="let item of types">
        <input type="radio" name="options" (click)="attr.type = item"
        [checked]="item === attr.type"> {{ item }} </label>
    </div>
    <div class="form-group has-form-label">
      <label for="pr-key" class="form-label">Value</label>
      <textarea id="pr-txta" class="form-control" [(ngModel)]="attr.strValue"></textarea>
    </div>
  </section>
  <footer>
    <button class="btn-event" type="button" (click)="apply()"><i class="pmap-28"></i>Apply </button>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Cancel</button>
  </footer>
</div>
