.popup {
  position: absolute;
  z-index: 2000;
  background-color: #404345;
}

.popup > header {
  text-align: center;
  height: 34px;
  background-color: #5d5f61;
  cursor: default;
}

.popup > header h2 {
  margin: 0;
  line-height: 34px;
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
}

.popup > header i {
  width: 36px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  font-size: 11px;
  cursor: pointer;
  color: #393b3d;
}

.popup > header i:hover {
  color: #9e9c9c;
}

.popup > section {
  padding: 25px 33px;
  border-bottom: 1px solid #323436;
}

.popup {
  width: 1210px;
  overflow: hidden;
  left: 50%;
  top: 100px;
  margin-left: -605px;
  font-size: 12px;
  color: #bbbbbb;
}

.popup [role="status-round"] {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  display: inline-block;
}

.popup [role="status-round"].success {
  background-color: #28b671;
}

.popup [role="status-round"].danger {
  background-color: #f93815;
}

.popup [role="status"] {
  display: inline-block;
}

.popup [role="status"] i {
  font-size: 14px;
  vertical-align: middle;
}

.popup [role="status"].success i {
  color: #28b671;
}

.popup [role="status"].danger i {
  color: #f93815;
}

.popup > header {
  height: 37px;
}

.popup > header h2 {
  line-height: 37px;
}

.popup > header i {
  line-height: 37px;
}

.popup .execution-label {
  font-size: 12px;
  color: #7a7a7a;
  padding-right: 10px;
}

.popup > section {
  border-bottom: none;
  padding: 0;
}

.popup > section h2 {
  color: #FFF;
  font-size: 18px;
  font-weight: normal;
}

.popup > section h4 {
  font-size: 13px;
  color: #000;
  font-weight: bold;
}

.popup > section .row {
  padding: 0 31px;
  position: relative;
}

.popup > section .row .container {
  width: 100%;
  display: block;
}

.popup > section .row .prev-arrows {
  width: 31px;
  position: absolute;
  bottom: 0;
  margin-left: 15px;
}

.popup > section .row .next-arrows {
  width: 31px;
  position: absolute;
  bottom: 0;
  margin-right: 15px;
}


.popup > section .row .prev-arrows button, .popup > section .row .next-arrows button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 25px;
  margin-bottom: 5px;
  cursor: pointer;
}

.popup > section .row .prev-arrows button i, .popup > section .row .next-arrows button i {
  color: #191a1b;
}

.popup > section .row .prev-arrows button:last-child, .popup > section .row .next-arrows button:last-child {
  font-size: 9px;
  margin-bottom: 0;
}

.popup > section .row .prev-arrows button:hover i, .popup > section .row .prev-arrows button:active i, .popup > section .row .next-arrows button:hover i, .popup > section .row .next-arrows button:active i {
  color: #9e9c9c;
}

.popup > section .row .prev-arrows {
  left: 0;
  /* !direction-ignore */
}

.popup > section .row .next-arrows {
  right: 0;
  /* !direction-ignore */
}

.popup > section .header {
  padding-top: 11px;
}

.popup > section .header h2 {
  margin-top: 0;
  margin-bottom: 8px;
}

.popup > section .header h2 + h4 {
  margin: 0;
}

.popup > section .header .container {
  padding-right: 420px;
}

.popup > section .header .container:before, .popup > section .header .container:after {
  content: " ";
  display: table;
}

.popup > section .header .container:after {
  clear: both;
}

.popup > section .header .container .col {
  width: 100%;
  float: left;
}

.popup > section .header .container .col:last-child {
  float: right;
  width: 420px;
  margin-right: -420px;
  padding-right: 60px;
  padding-top: 12px;
  position: relative;
}

.popup > section .header .container .col:last-child button {
  position: absolute;
  top: 13px;
  right: 0;
  display: block;
  cursor: pointer;
  font-size: 12px;
  line-height: 16px;
  height: 16px;
  width: 17px;
  text-align: center;
}

.popup > section .header .container .col:last-child button i {
  color: #6c6c6c;
  cursor: pointer;
}

.popup > section .header .container .col:last-child button:hover i, .popup > section .header .container .col:last-child button:active i {
  color: #9e9c9c;
}

.popup > section .header .container .col:last-child .gchart {
  height: 100px;
}

.popup > section .header .container .col:last-child .gchart .chart-block {
  display: inline-block;
  float: left;
}

.popup > section .header .container .col:last-child .gchart .chart-block-right {
  display: inline-block;
  height: 100px;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 14px;
}

.popup > section .header .container [role="box-summary"] {
  display: table;
  max-width: 700px;
  margin-top: 12px;
}

.popup > section .header .container [role="box-summary"] .str {
  display: table-row;
}

.popup > section .header .container [role="box-summary"] .str .cell {
  line-height: 26px;
}

.popup > section .header .container [role="box-summary"] .label {
  padding-right: 23px;
}

.popup > section .header .container [role="box-summary"] .cell {
  display: table-cell;
}

.popup > section .header .container [role="box-summary"] > .cell {
  border-left: 2px solid #35383a;
  padding: 0 8px;
}

.popup > section .header .container [role="box-summary"] > .cell:first-child {
  width: 208px;
}

.popup > section .header .container [role="box-summary"] > .cell:nth-child(2), .popup > section .header .container [role="box-summary"] > .cell:nth-child(3) {
  width: 178px;
}

.popup > section .header .container [role="box-summary"] > .cell > div {
  display: table;
}

.popup > section .hr {
  padding: 0 31px;
  margin: 15px 0 7px;
  position: relative;
}

.popup > section .hr i {
  display: inline-block;
  width: 18px;
  height: 18px;
  border-left: 2px solid #2a2b2d;
  /* !direction-ignore */
  border-top: 2px solid #2a2b2d;
  z-index: 2;
  background-color: #404345;
  transform: rotate(45deg);
  position: absolute;
  left: 50%;
  margin-left: -9px;
  top: -9px;
}

.popup > section .hr:after {
  display: block;
  height: 2px;
  width: 100%;
  content: '';
  background-color: #2a2b2d;
}

.popup > section .section-processes, .popup > section .section-actions {
  padding-top: 20px;
}

.popup > section .section-processes h4, .popup > section .section-actions h4 {
  padding: 0 31px;
  margin: 0;
}

.popup > section .section-processes .container, .popup > section .section-actions .container {
  padding-top: 8px;
}

.popup > section .section-processes .container:before, .popup > section .section-processes .container:after, .popup > section .section-actions .container:before, .popup > section .section-actions .container:after {
  content: " ";
  display: table;
}

.popup > section .section-processes .container:after, .popup > section .section-actions .container:after {
  clear: both;
}

.popup > section .section-processes .container > .col, .popup > section .section-actions .container > .col {
  width: 33.3333333333%;
  float: left;
  padding: 0 4px;
}

.popup > section .section-processes .container > .col:first-child, .popup > section .section-actions .container > .col:first-child {
  padding-left: 0;
  padding-right: 8px;
}

.popup > section .section-processes .container > .col:last-child, .popup > section .section-actions .container > .col:last-child {
  padding-right: 0;
  padding-left: 8px;
}

.popup > section .section-actions {
  padding-top: 0;
}

.label-icon {
  width: 12px;
  height: 12px;
  display: inline-block;
  border-radius: 50%;
  margin-right: 7px;
}

.green {
  background-color: #44bb75;
}

.yellow {
  background-color: #eab839;
}

.blue {
  background-color: #00a8e9;
}

.red {
  background-color: #f85656;
}

.label {
  margin-right: 7px;
}


h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

h2 i {
  vertical-align: top !important;
}

.filter-bar {
  height: 80px;
  overflow-y: hidden;
}

.filter-label {
  margin: 12px 5px 0;
}

.filter-input {
  margin: 10px;
}

.filter-button {
  margin: 10px;
}

.search-bar {
  margin-bottom: 10px;
}

i.green {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #28b671;
}

i.red {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  display: inline-block;
  background-color: #f93815;
}

.align-right {
  text-align: right !important;
}

.align-left {
  text-align: left !important;
}

.sm-cell {
  width: 45px;
  text-align: center;
}

.md-cell {
  width: 170px;
}

.lg-cell {
  width: 300px;
}

.pmap-table .tbody .tr .cell[ng-reflect-hidden="true"] {
  display: none;
}

.pm-container {
  margin: 10px;
}

.filter-cell {
  width: 200px;
  padding: 0 !important;
}

.empty-spacer {
  height: 28px;
}

.checkbox-text {
  margin-right: 10px;
}

footer .pull-right {
  margin-bottom: 10px;
}

[role="handle"] {
  cursor: move;
}
