<div [draggable] role="popup" class="popup">
  <header>
    <h2> Servers </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section class="pm-container">
    <div class="pmap-table search-bar pm-font">
      <div class="filter-bar">
        <div class="tbody">
          <div class="tr">
            <div class="cell filter-cell">
              <div class="filter-label">
                <span>
                  Filter by
                </span>
              </div>
              <div class="filter-input filter-cell">
                <select class="form-control" style="height: auto;" [(ngModel)]="search.type">
                  <option [ngValue]="1"> -- select method -- </option>
                  <option [ngValue]="1">Name</option>
                  <option [ngValue]="2">Architecture</option>
                  <option [ngValue]="3">Attribute</option>
                </select>
              </div>
            </div>
            <div [hidden]="search.type === 3 || search.type === 0">
              <div class="cell">
                <div class="filter-label">
                  <span>
                    Search term:
                  </span>
                </div>
                <div class="filter-input">
                  <input type="text" class="form-control" [(ngModel)]="search.text" />
                </div>
              </div>
              <div class="cell">
                <div class="empty-spacer"></div>
                <button type="button" class="btn-event filter-button"><i class="pmap-25"></i> filter </button></div>
              <div class="cell"><div class="empty-spacer"></div><button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> clear filter </button></div>
            </div>
            <div [hidden]="search.type !== 3">
              <div class="cell">
                <div class="filter-label">
                  <span>
                    Attribute:
                  </span>
                </div>
                <div class="filter-input">
                  <input type="text" class="form-control" [(ngModel)]="search.attrName" />
                </div>
              </div>
              <div class="cell">
                  <div class="filter-label">
                    <span>
                      Value:
                    </span>
                  </div>
                  <div class="filter-input">
                    <input type="text" class="form-control" [(ngModel)]="search.text" />
                  </div>
              </div>
              <div class="cell"><div class="empty-spacer"></div><button type="button" class="btn-event filter-button"><i class="pmap-25"></i> filter </button></div>
              <div class="cell"><div class="empty-spacer"></div><button type="button" class="btn-event filter-button" (click)="clearFilter(search)"><i class="pmap-25"></i> clear filter </button></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pmap-table pm-font">
      <div class="thead-wrapper">
        <div class="thead">
          <div class="tr">
            <div class="cell sm-cell align-left"><span>Status</span></div>
            <div class="cell md-cell"><span>Name</span></div>
            <div class="cell md-cell"><span>IP</span></div>
            <div class="cell md-cell"><span>HostName</span></div>
            <div class="cell md-cell"><span>Architecture</span></div>
            <div class="cell md-cell"><span>Free Disk Space</span></div>
            <div class="cell md-cell"><span>Response Time</span></div>
            <div class="cell sm-cell"><span>Select</span></div>
          </div>
        </div>
      </div>
      <div class="tbody-wrapper">
        <div class="tbody">
          <div class="tr" *ngFor="let agent of servers | serverFilter:search">
            <div *ngIf="agent.alive" class="sm-cell cell"><span><i class="green server-status"></i></span></div>
            <div *ngIf="!agent.alive" class="sm-cell cell"><span><i class="red server-status"></i></span></div>
            <div class="cell md-cell"><span>{{ agent.name }}</span></div>
            <div class="cell md-cell"><span>{{ agent.url }}</span></div>
            <div class="cell md-cell"><span>{{ agent.hostname }}</span></div>
            <div class="cell md-cell"><span>{{ agent.arch }}</span></div>
            <div class="cell md-cell"><span>{{ agent.freeSpace }}</span></div>
            <div class="cell md-cell"><span>{{ agent.respTime }}</span></div>
            <div class="cell sm-cell">
              <div class="form-group has-checkbox">
                <label class="form-checkbox">
                    <input type="checkbox" [ngModel]="this.selectedServers[agent.id]"  (ngModelChange)="onChange(agent)"><i></i>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer class="pm-container">
    <div class="row pm-container">
      <div class="form-group has-checkbox checkbox-text">
        <label for="selected-only" class="form-checkbox">
            <input type="checkbox" id="selected-only" [ngModel]="selected" (ngModelChange)="showSelected()"><i></i>
            <span class="form-label">show selected servers</span>
        </label>
      </div>
      <div class="form-group has-checkbox checkbox-text">
        <label for="unselected-only" class="form-checkbox">
            <input type="checkbox" id="unselected-only" [ngModel]="unselected" (ngModelChange)="showUnSelected()"><i></i>
            <span class="form-label">show unselected servers</span>
        </label>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn-event btn-no-icon" type="button" (click)="apply()"> Apply </button>
      <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
    </div>
  </footer>
</div>
