<div ngDraggable [handle]="popupHandle" role="popup" class="popup">
  <header>
    <h2 role="handle" #popupHandle> Agents </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    
      <div *ngIf="!agentsTree || agentsTree.length === 0">
        No agents found.
      </div>
      <div class="" *ngIf="agentsTree">
        <p-treeTable [value]="agentsTree" selectionMode="checkbox" [(selection)]="selectedNodes" (onNodeSelect)="nodeSelect($event)">
          <p-column>
            <ng-template let-col let-node="rowData" pTemplate="header">
              Name
            </ng-template>
            <ng-template let-col let-node="rowData" pTemplate="body">
              <span *ngIf="node.data.name"><i class="pmap-21"></i>  {{node.data.name}}</span>
              <span *ngIf="!node.data.name"><i class="fa fa-cloud" aria-hidden="true" [ngClass]="{'text-success': agentsStatus[node.data.data.key].alive, 'text-danger': !agentsStatus[node.data.data.key].alive}"></i>   {{node.data.data.name}}</span>
            </ng-template>
          </p-column>
          <p-column>
            <ng-template let-col let-node="rowData" pTemplate="header">
              URL
            </ng-template>
            <ng-template let-col let-node="rowData" pTemplate="body">
              <span *ngIf="node.data.data">{{node.data.data.url}}</span>
            </ng-template>
          </p-column>
          <p-column>
            <ng-template let-col let-node="rowData" pTemplate="header">
              Free Disk Space
            </ng-template>
            <ng-template let-col let-node="rowData" pTemplate="body">
              <span *ngIf="node.data.data">{{agentsStatus[node.data.data.key].freeSpace? agentsStatus[node.data.data.key].freeSpace:' ---'}}</span>
            </ng-template>
          </p-column>
          <p-column>
            <ng-template let-col let-node="rowData" pTemplate="header">
              Response Time
            </ng-template>
            <ng-template let-col let-node="rowData" pTemplate="body">
              <span *ngIf="node.data.data">{{agentsStatus[node.data.data.key].respTime? agentsStatus[node.data.data.key].respTime:' ---'}}</span>
            </ng-template>
          </p-column>
          <p-column>
            <ng-template let-col let-node="rowData" pTemplate="header">
              Architecture
            </ng-template>
            <ng-template let-col let-node="rowData" pTemplate="body">
              <span *ngIf="node.data.data">{{node.data.data.arch}}</span>
            </ng-template>
          </p-column>
        </p-treeTable>
      </div>
  </section>
  <footer class="pm-container">
    <div class="row pm-container">
      <div class="form-group has-checkbox checkbox-text">
        <label for="selected-only" class="form-checkbox">
            <input type="checkbox" id="selected-only" [ngModel]="selected" (ngModelChange)="showSelected()"><i></i>
            <span class="form-label">Show selected agents</span>
        </label>
      </div>
      <div class="form-group has-checkbox checkbox-text">
        <label for="unselected-only" class="form-checkbox">
            <input type="checkbox" id="unselected-only" [ngModel]="unselected" (ngModelChange)="showUnSelected()"><i></i>
            <span class="form-label">Show unselected agents</span>
        </label>
      </div>
    </div>
    <div class="pull-right">
      <button class="btn-event btn-no-icon" type="button" (click)="apply()"> Apply </button>
      <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Cancel</button>
    </div>
  </footer>
</div>
