header {
  margin-top: -70px;
  border: none;
}

header h2 i {
  height: 50%;
  right: 0;
}

header h2 i:before {
  content: "\e903";
  /* !rtl-only */
  content: "\e902";
  /* !ltr-only */
}

header [role="search"] {
  height: 38px;
  margin-top: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #4a4e50;
  padding-right: 44px;
}

header [role="search"]:before, header [role="search"]:after {
  content: " ";
  display: table;
}

header [role="search"]:after {
  clear: both;
}

label {
  margin: 4px;
}

header [role="search"] .input-group {
  margin-left: 5px;
}

header [role="search"] input:active, header [role="search"] input:focus, header [role="search"] input:hover {
  background-color: #383a3d;
  color: #FFF;
}

header [role="search"] > button {
  float: right;
  right: 0;
  top: 0;
  width: 24px;
  height: 24px;
  overflow: hidden;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  color: #6f6f6f;
  margin-right: -24px;
  font-size: 16px;
}

header [role="search"] > button:active, header [role="search"] > button:hover {
  color: #bbb;
}

.agents {
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border: 0;
}

nav[region="agents"] a {
  display: table-row;
  border-collapse: collapse;
  border-spacing: 0;
}

nav[region="agents"] a span {
  padding: 0;
  margin: 0;
  bottom: 0;
  height: 62px;
  border-bottom: 1px solid #1f2122;
  background-color: #2d2f30;
  display: table-cell;
  vertical-align: middle;
}

nav[region="agents"] a span:first-child {
  width: 74px;
  text-align: center;
  font-size: 28px;
  line-height: 56px;
}

nav[region="agents"] a span:first-child i {
  vertical-align: middle;
}

nav[region="agents"] a span:first-child + span {
  font-size: 13px;
  color: #bbb;
  padding-right: 24px;
}
header [role="map-settings-buttons"] {
  margin-top: 10px;
  height: 50%;
  border-top: 1px solid #1f2122;
  border-bottom: 1px solid #1f2122;
}

header [role="map-settings-buttons"]:before, header [role="map-settings-buttons"]:after {
  content: " ";
  display: table;
}

header [role="map-settings-buttons"]:after {
  clear: both;
}

header [role="map-settings-buttons"] button {
  width: 50%;
  display: block;
  float: left;
  height: 100%;
  line-height: 29px;
  color: #757677;
  background-color: #36393b;
  font-size: 14px;
  cursor: pointer;
}

header [role="map-settings-buttons"] button:hover, header [role="map-settings-buttons"] button:active, header [role="map-settings-buttons"] button.active, header [role="map-settings-buttons"] button:focus {
  background-color: #4b4f51;
  color: #bbb;
}

header [role="map-settings-buttons"] button:first-child {
  border-right: 1px solid #1f2122;
}

section {
  width: 100%;
}
