<header>
  <h2><span>{{ leftPanelTitle }}</span><i class="pmap-custom l-resize"></i></h2>
  <div role="map-settings-buttons">
    <button type="button" [class.active]="currentPanel == 0" (click)="selectPanel(0)">Projects</button>
    <button type="button" [class.active]="currentPanel == 1" (click)="selectPanel(1)">Plugins</button>
  </div>
  <div role="search" class="header-search">
    <div class="input-group">
      <input id="searchtext" type="text" [(ngModel)]="searchtext" class="form-control" placeholder="Search for..">
      <label for="searchtext"><i class="pmap-4"></i></label>
    </div>
    
  </div>
</header>
<section class="agents" [ngSwitch]="currentPanel" >
  <div class="left-panel-tree-content" #tree>
    <app-map-explorer [searchtext]="searchtext" *ngSwitchCase="0"></app-map-explorer>
    <app-map-toolbox [searchtext]="searchtext" *ngSwitchCase="1" [paper]="innerPaper" [graph]="innerGraph" [designerOps]="designerOps"></app-map-toolbox>
  </div>
</section>
