<div class="main">
  <div class="row">
    <div class="col-sm-12">
      <h1>Create a new map</h1>
      <form [formGroup]="mapForm" (ngSubmit)="onSubmitForm(mapForm.value)">
        <div class="form-group">
          <label for="project">Project</label>
          <select class="form-control" formControlName="project" id="project">
            <option disabled>Select a project</option>
            <option *ngFor="let project of projects" [ngValue]="project._id">{{project.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label>Name:</label>
          <input type="text" id="name" class="form-control" placeholder="eg. CI" formControlName="name"/>
          <div *ngIf="mapForm.get('name').invalid && (mapForm.get('name').touched || mapForm.get('name').touched)">
            Map name is mandatory
          </div>
        </div>
        <div class="form-group">
          <label>Description:</label>
          <textarea type="text" id="description" class="form-control" placeholder="eg. This map will..."
                    formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label>Licence:</label>
          <input type="text" id="title" class="form-control" placeholder="eg. MIT" formControlName="licence"/>
        </div>
        <button type="submit" class="btn btn-primary btn-block" [disabled]="mapForm.invalid">{{map? 'Save': 'Create'}}</button>
      </form>
    </div>
  </div>
</div>
