<div class="row pm-modal">
  <div class="col-12">
    <div class="modal-header">
      <h4>Select Agents</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" (click)="onClose()">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p-dataTable [value]="agents" [(selection)]="selectedAgents" dataKey="name">
        <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
        <p-column field="name" header="name"></p-column>
        <p-column field="url" header="url"></p-column>
      </p-dataTable>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-primary" (click)="onClose()">Cancel</button>
      <button class="btn-primary btn" (click)="onConfirm()">Confirm</button>
    </div>
  </div>
</div>
