<div ngDraggable [handle]="popupHandle" role="small-popup-triggers" class="small-popup-triggers">
  <header>
    <h2 role="handle" #popupHandle> Add Trigger </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Name:</span>
    </div>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="name" [(ngModel)]="trigger.name">
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Type:</span>
    </div>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="trigger.type">
        <option>-- select type --</option>
				<option *ngFor="let type of types" [ngValue]="type">{{ type.viewName }}</option>
			</select>
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Project:</span>
    </div>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="trigger.project">
        <option>-- select project --</option>
				<option *ngFor="let project of projects" [ngValue]="project">{{ project.name }}</option>
			</select>
    </div>
  </div>
  <div class="row" style="margin:2%">
    <div class="col-md-2 has-form-label">
      <span class="form-label">Map:</span>
    </div>
    <div class="col-md-4">
      <select class="form-control" [(ngModel)]="trigger.map">
        <option>-- select map --</option>
				<option *ngFor="let map of trigger.project.maps" [ngValue]="map">{{ map.name }}</option>
			</select>
    </div>
  </div>
  </section>
  <section>
    <div role="parameters">
      <h3>Parameters</h3>
      <div class="pmap-table">
        <div class="thead-wrapper">
          <div class="thead">
            <div class="tr">
              <div class="cell">Name</div>
              <div class="cell">Value</div>
            </div>
          </div>
        </div>
        <div class="tbody-wrapper">
          <div class="tbody">
            <div *ngFor="let param of trigger.type.params" class="tr">
              <div class="cell">{{param.viewName}}</div>
              <div class="cell">
                <div [hidden]="!(param.type === 'string' || param.code === true)">
                  <!-- Input type string -->
                  <input type="text" class="form-control" placeholder="enter value..." [(ngModel)]="param.text">
                </div>

                <div [hidden]="!(param.type === 'text')">
                  <!-- Input type text area -->
                  <textarea rows="4" cols="50" placeholder="enter value..." [(ngModel)]="param.text"> </textarea>
                </div>

                <div [hidden]="!(param.type === 'collection')">
                      <!--Input type collection-->
                    <select class="form-control" [(ngModel)]="param.text">
                              <option>-- select option --</option>
                      <option *ngFor="let opt of param.options" [ngValue]="opt.id">{{ opt.name }}</option>
                    </select>
                </div>

                <div [hidden]="!(param.type === 'file' && (!param.code || param.code === false))">
                  <!-- Input type file -->
                  <input class="form-control" type="file" placeholder="select file..." [(ngModel)]="param.file" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer>
        <button class="btn-event" type="button" (click)="saveTrigger(trigger)"><i class="pmap-26 "></i>Save</button>
        <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Cancel</button>
    </footer>
</div>