<div class="d-flex justify-content-between pane-header">
  <h3>Edit {{process?.name? process.name: 'process'}}</h3>
  <div>
    <div class="btn-group" dropdown placement="bottom right">
      <button dropdownToggle type="button" class="btn dropdown-toggle">
        ...
      </button>
      <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
        <li role="menuitem"><a class="dropdown-item" (click)="deleteProcess()">Delete</a></li>
        <li role="menuitem"><a class="dropdown-item" href="#">Duplicate</a></li>
      </ul>
    </div>
    <button type="button" class="btn btn-link" (click)="closePane()">
      <i class="fa fa-times text-light" aria-hidden="true"></i>
    </button>
  </div>
</div>

<div class="process-form">
  <form [formGroup]="processForm" (ngSubmit)="saveProcess(processForm.value)">
    <accordion [closeOthers]="true" [hidden]="action">
      <accordion-group>
        <div accordion-heading class="clearfix">
          Details
          <span class="float-right pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </div>
        <div class="form-group">
          <label for="uuid">uuid</label>
          <input type="text" class="form-control" id="uuid" disabled formControlName="uuid">
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="eg. Refresh agent" formControlName="name">
        </div>
        <div class="form-group">
          <label for="description">Details</label>
          <textarea type="text" class="form-control" id="description"
                    placeholder="eg. This process pull the data from github" formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="type">Type</label>
          <input type="text" class="form-control" id="type" [value]="process?.plugin?.name" disabled>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Conditions
          <span class="float-right pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="correlateAgents">
            Correlate agents
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" formControlName="mandatory">
            Mandatory
          </label>
          <small class="form-text text-muted">If the process fails the execution will stop.</small>
        </div>
        <div class="form-group">
          <label for="condition">Condition</label>
          <input type="text" class="form-control" id="condition" placeholder="eg. condition_test_function()"
                 formControlName="condition">
          <small class="form-text text-muted">Returns a boolean - determine if the process should run. You can refer to
            map code here.
          </small>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Hooks
          <span class="float-right pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </div>

        <div class="form-group">
          <label for="preRun">Pre-run function</label>
          <input type="text" class="form-control" id="preRun"
                 formControlName="preRun">
          <small class="form-text text-muted">This function will run with agent context before the process executes. The
            result will be added to the context. Code reference available.
          </small>
        </div>
        <div class="form-group">
          <label for="postRun">Post-run function</label>
          <input type="text" class="form-control" id="postRun"
                 formControlName="postRun">
          <small class="form-text text-muted">This function will run with agent context after the process finish
            execution. The
            result will be added to the context. Code reference available.
          </small>
        </div>
      </accordion-group>
      <accordion-group>
        <div accordion-heading class="clearfix">
          Actions
          <span class="float-right pull-right"><i class="fa fa-chevron-down" aria-hidden="true"></i></span>
        </div>
        <button type="button" class="btn btn-outline-secondary btn-sm btn-block" (click)="addNewAction()">Add action
        </button>
        <div formArrayName="actions">
          <div *ngFor="let action of processForm.controls.actions['controls']; let i=index">
            <div class="d-flex justify-content-between">
              <span *ngIf="processForm.get('actions').at(i).get('name').value">{{processForm.get('actions').at(i).get('name').value}} (#{{i + 1}})</span>
              <span *ngIf="!processForm.get('actions').at(i).get('name').value">Action #{{i + 1}}</span>
              <span>
            <button type="button" class="btn btn-link" (click)="editAction(i)"><i class="fa fa-pencil-square-o"
                                                                                  aria-hidden="true"></i></button>
            <button type="button" class="btn btn-link" (click)="removeAction(i)"><i class="fa fa-trash-o"
                                                                                    aria-hidden="true"></i></button>
          </span>
            </div>
          </div>
        </div>
      </accordion-group>
    </accordion>
    <div class="row bottom-section">
      <div class="col-sm-12">
        <button type="submit" class="btn btn-primary btn-block">Save</button>
      </div>
    </div>

    <div *ngIf="action" [formGroup]="processForm.controls.actions.at(index)" class="action-form">
      <div class="d-flex justify-content-between">
        <span>Edit action</span>
        <button type="button" class="btn btn-link" (click)="backToProcessView()"><i class="fa fa-arrow-right"></i>
        </button>
      </div>
      <div class="form-group">
        <label for="actionName">Name</label>
        <input type="text" class="form-control" id="actionName" placeholder="eg. copy dir" formControlName="name">
      </div>
      <div class="row">
        <div class="col">
          <input type="text" class="form-control" placeholder="Timeout" formControlName="timeout">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Timeunit" formControlName="timeunit">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Retries" formControlName="retries">
        </div>
      </div>
      <hr>
      <div class="form-check">
        <label class="form-check-label">
          <input type="checkbox" class="form-check-input" formControlName="mandatory">
          Mandatory
        </label>
        <small class="form-text text-muted">If the action fails the process will stop (with failure).</small>
      </div>
      <p class="lead">Method</p>
      <select id="inputState" class="form-control" formControlName="method" (change)="onSelectMethod()">-->
        <option selected disabled>Select a method</option>
        <option *ngFor="let method of process.plugin.methods" id="method._id" [ngValue]="method">{{method.viewName}}
        </option>
      </select>

      <div formArrayName="params">
        <div class="row">
          <div class="col-4">Name</div>
          <div class="col-2">Code?</div>
          <div class="col-6">Value</div>
        </div>
        <hr>
        <div *ngFor="let param of processForm.controls.actions.at(index).controls.params.controls; let k = index">
          <div [formGroupName]="k">
            <div class="row action-params">
              <div class="col-4">{{param.value.viewName}}</div>
              <hr>
              <div class="col-2"><input formControlName="code" type="checkbox" class="form-control"></div>
              <hr>
              <div class="col-6"><input formControlName="value" type="text" class="form-control"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

