[role="triggers"] > h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

[role="triggers"] > h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

[role="triggers"] > h2 i {
  vertical-align: top !important;
}


[role="triggers"] .pmap-table {
  margin-bottom: 10px;
}

[role="triggers"] .pmap-table .thead .tr .cell:first-of-type, [role="triggers"] .pmap-table .thead .tr .cell:nth-of-type(2), [role="triggers"] .pmap-table .tbody .tr .cell:first-of-type, [role="triggers"] .pmap-table .tbody .tr .cell:nth-of-type(2) {
  width: 200px;
}

[role="triggers"] .pmap-table .thead .tr .cell:nth-of-type(3), [role="triggers"] .pmap-table .tbody .tr .cell:nth-of-type(3), [role="triggers"] .pmap-table .thead .tr .cell:nth-of-type(4), [role="triggers"] .pmap-table .tbody .tr .cell:nth-of-type(4) {
  width: 133px;
}

[role="triggers"] .pmap-table .thead .tr .cell:nth-of-type(5), [role="triggers"] .pmap-table .tbody .tr .cell:nth-of-type(5), [role="triggers"] .pmap-table .thead .tr .cell:nth-of-type(6), [role="triggers"] .pmap-table .tbody .tr .cell:nth-of-type(6) {
  width: 20px  ;
}
