<div role="triggers">
  <h2><i class="pmap-1 noHover"></i>Triggers</h2>
  <div class="pmap-table">
    <div class="thead-wrapper">
      <div class="thead">
        <div class="tr">
          <div class="cell">Name</div>
          <div class="cell">Type</div>
          <div class="cell">project</div>
          <div class="cell">map</div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    <div class="tbody-wrapper">
      <div class="tbody">
        <div *ngFor="let trigger of triggers; let triggerIndex = index" class="tr">
          <div class="cell">{{trigger.name}}</div>
          <div class="cell">{{trigger.type }}</div>
          <div class="cell">{{trigger.project.name }}</div>
          <div class="cell">{{trigger.map.name }}</div>
          <div class="cell"><button type="button" (click)="deleteTrigger(triggerIndex)"><i class="pmap-27"></i></button></div>
        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn-event" (click)="addTrigger()"><i class="pmap-25"></i>Add Trigger</button>
</div>
