section {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

header {
  position: relative;
  border-bottom: 1px solid #1f2122;
}

header h2 {
  margin: 0;
  font-size: 14px;
  height: 19px;
  line-height: 19px;
  font-weight: 400;
  color: #bbb;
  text-transform: uppercase;
  padding: 0 14px;
  cursor: default;
}

header h2 span {
  vertical-align: bottom;
  display: inline-block;
  height: 10px;
  line-height: 10px;
}

header h2 i {
  position: absolute;
  z-index: 5;
  top: 0;
  font-size: 9px;
  color: #838485;
  width: 15px;
  height: 100%;
  padding-top: 5px;
  text-align: center;
  display: block;
}

header h2 i, header h2 i:hover, header h2 i:active {
  cursor: w-resize;
}
