.composition {
  position: relative;
}

.composition [class*=layer] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.composition [class*=layer].layer-1 {
  z-index: 1;
}

.composition [class*=layer].layer-2 {
  z-index: 2;
}

.composition [class*=layer].layer-3 {
  z-index: 3;
}

.composition [class*=layer].layer-4 {
  z-index: 4;
}

.composition [class*=layer].layer-5 {
  z-index: 5;
}

.table {
  display: table;
}

.table > .row {
  display: table-row !important;
  margin-left: 0;
  margin-right: 0;
}

.table > .row > .col {
  display: table-cell;
}

.grid {
  display: block;
  padding: 0;
}

.grid:before, .grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

.grid > .row {
  display: block;
  margin: 0;
}

.grid > .row:before, .grid > .row:after {
  content: " ";
  display: table;
}

.grid > .row:after {
  clear: both;
}

.grid > .row > [class*=col] {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.grid > [class*=col] {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.grid.grid-xs {
  padding: 5px;
}

.grid.grid-xs div[class*=col-] {
  padding: 5px;
}

.grid.grid-sm {
  padding: 11px;
}

.grid.grid-sm div[class*=col-] {
  padding: 11px;
}

.grid.grid-md {
  padding: 13px;
}

.grid.grid-md div[class*=col-] {
  padding: 13px;
}

.grid.grid-lg {
  padding: 17px;
}

.grid.grid-lg div[class*=col-] {
  padding: 17px;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

body, html {
  width: 100%;
  height: 100%;
  min-height: 00%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

body, body *, html, html * {
  box-sizing: border-box;
  transition: color 0.2s, background 0.2s, border-color 0.2s;
}

body::selection, body *::selection, html::selection, html *::selection {
  background-color: transparent;
}

body::-moz-selection, body *::-moz-selection, html::-moz-selection, html *::-moz-selection {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, table td {
  padding: 0;
  margin: 0;
  border: 0;
}


/* start of pm classes */

[class*="pmap"].green {
  color: #139d55;
}

[class*="pmap"].olive {
  color: #8aab52;
}

[class*="pmap"].yellow {
  color: #f6ac34;
}

[class*="pmap"].orange {
  color: #e67259;
}

[class*="pmap"].purple {
  color: #7b619f;
}

[class*="pmap"].blue {
  color: #5db5f4;
}

[class*="pmap"].red {
  color: #f93815;
}

button[type="button"] {
  background: none;
  border: none;
}

button[type="button"], button[type="button"]:active {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #bbb;
  text-decoration: none;
}
