.form-control, .form-label {
    font-size: 13px;
    color: #bbbbbb;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus  {
    background-color: #4c5051;
    color: #bbbbbb;
}