.footer {
  height: inherit;
  width: 100%;
  padding-top: 0px;
  min-height: 114px;
  bottom: 0;
  /* position: absolute; */
  left: 0;
  background-color: #2d2f30;
  border-top: 1px solid #1f2122;
}

header {
  height: 32px;
  /* margin-top: -32px; */
  background-color: #3c3e41;
  position: relative;
}

header:before, header:after {
  content: " ";
  display: table;
}

header:after {
  clear: both;
}

header h2 {
  margin: 0;
  float: left;
  color: #bbb;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  padding-left: 14px;
  line-height: 32px;
  cursor: default;
}

header h2::selection {
  background-color: transparent;
}

header h2::-moz-selection {
  background-color: transparent;
}

header > i {
  position: absolute;
  right: 0;
  z-index: 5;
  top: 0;
  height: 100%;
  width: 24px;
  text-align: center;
  font-size: 5px;
  color: #838485;
  line-height: 32px;
  cursor: s-resize;
}

header [role="footer-bar"] {
  float: right;
  padding-right: 29px;
}

header [role="footer-bar"]:before, header [role="footer-bar"]:after {
  content: " ";
  display: table;
}

header [role="footer-bar"]:after {
  clear: both;
}

header [role="footer-bar"] a {
  display: block;
  height: 100%;
  float: left;
  line-height: 32px;
  font-size: 13px;
  color: #bbb;
  margin-right: 12px;
}

header [role="footer-bar"] a:last-child {
  margin-right: 0;
}

header [role="footer-bar"] a i {
  font-size: 8px;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  position: relative;
  top: -1px;
}

header [role="footer-bar"] a i[class*="24"] {
  font-size: 12px;
}

header [role="footer-bar"] a:hover, header [role="footer-bar"] a:active {
  color: #9e9c9c;
}

section {
  height: 100%;
  background-color: #2d2f30;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 17px;
}

section .grid {
  display: table;
  width: 100%;
  border: 0;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 0;
  margin: 0;
}

section .grid .row {
  display: table-row;
}

section .grid .row .cell {
  display: table-cell;
  border: 0;
  padding: 0;
  font-size: 13px;
  margin: 0;
  padding: 0 10px;
  vertical-align: middle;
  color: #bbb;
  white-space: nowrap;
  text-overflow: clip;
  height: 28px;
  border-bottom: 1px solid #404040;
}

section .grid .row .cell::selection {
  background-color: #02a7c6;
  color: #FFF;
}

section .grid .row .cell::-moz-selection {
  background-color: #02a7c6;
  color: #FFF;
}

section .grid .row .cell:nth-child(3) i {
  width: 7px;
  height: 7px;
  display: inline-block;
  border-radius: 50%;
}

section .grid .row .cell:nth-child(3) i.red {
  background-color: #f93815;
}

section .grid .row .cell:nth-child(3) i.green {
  background-color: green;
}

section .grid .row .cell:first-child {
  padding-left: 0;
}

section .grid .row .cell:last-child {
  padding-right: 0;
}

section .grid .row .cell:last-child i {
  font-size: 3px;
}

a {
  cursor: pointer;
  cursor: hand;
}
