<div class="footer">
  <header>
    <h2>messages</h2>
    <div role="footer-bar">
      <a>
        <i class="pmap-24 blue"></i> Show Current Map</a>
      <a (click)="clearMessages()">
        <i class="pmap-15 red"></i> Clear All Messages</a>
    </div>
    <i class="pmap-162 f-resize"></i>
  </header>
  <section>
    <div class="grid">
      <table class="table">
        <tr *ngFor="let msg of messages" (dblclick)="openMessage(msg)">
          <td>{{msg.date | date: 'short'}}</td>
          <td [ngClass]="{'text-danger': msg.type === 'error', 'text-success': msg.type === 'success', 'text-info': msg.type === 'info'}"><i class="fa fa-circle" aria-hidden="true"></i></td>
          <td>{{msg.msg}}</td>
        </tr>
      </table>
    </div>
  </section>
</div>