<div class="footer">
  <header>
    <h2>messages</h2>
    <div role="footer-bar">
      <a><i class="pmap-24 blue"></i> Show Current Map</a>
      <a  (click)="clearMessages()"><i class="pmap-15 red"></i> Clear All Messages</a>
    </div>
    <i class="pmap-162 f-resize"></i>
  </header>
  <section>
    <div class="grid">
      <div class="row" *ngFor="let msg of messages" (dblclick)="openMessage(msg)">
        <span class="cell">{{ msg.date | date: 'shortDate'}}</span>
        <span class="cell">{{ msg.date | date: 'shortTime'}}</span>
        <span *ngIf="msg.result >= 0"class="cell"><i class="green"></i></span>
        <span *ngIf="msg.result < 0"class="cell"><i class="red"></i></span>
        <span class="cell">{{ msg.agent }}</span>
        <span class="cell">{{ msg.map }}</span>
        <div *ngIf="msg.msg.length >= 150"><span class="cell">{{msg.msg | slice:0:150}}...</span></div>
        <div *ngIf="msg.msg.length < 150"><span class="cell">{{msg.msg}}</span></div>
        <span class="cell"><a><i class="pmap-23"></i></a></span>
      </div>
    </div>
  </section>
</div>