[region="calendar"] > h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

[region="calendar"] > h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

[region="calendar"] > h2 i {
  vertical-align: top !important;
}

[region="calendar"] [role="new-scheduled-job"] {
  padding-left: 282px;
}

[region="calendar"] [role="new-scheduled-job"]:before, [region="calendar"] [role="new-scheduled-job"]:after {
  content: " ";
  display: table;
}

[region="calendar"] [role="new-scheduled-job"]:after {
  clear: both;
}

[region="calendar"] [role="new-scheduled-job"] > aside {
  width: 251px;
  margin-left: -282px;
  float: left;
}

[region="calendar"] [role="new-scheduled-job"] > aside [role="form-scheduled-job"] {
  width: inherit;
  border: 1px solid #323436;
  border-radius: 2px;
  padding-top: 19px;
}

[region="calendar"] [role="new-scheduled-job"] > aside h3 {
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #bbbbbb;
  margin: 0 0 20px;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-group {
  padding: 0 19px;
  margin-bottom: 14px;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-group:nth-child(3) {
  padding-top: 6px;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-group:nth-child(4), [region="calendar"] [role="new-scheduled-job"] > aside .form-group:nth-child(3), [region="calendar"] [role="new-scheduled-job"] > aside .form-group:nth-child(5) {
  margin-bottom: 24px;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-group:last-child {
  padding: 19px;
  text-align: right;
  margin-bottom: 0;
  border-top: 1px solid #323436;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-group > .form-label {
  line-height: 12px;
  display: block;
  margin-bottom: 6px;
}

[region="calendar"] [role="new-scheduled-job"] > aside .form-radio:first-child {
  margin-right: 36px;
}

[region="calendar"] [role="new-scheduled-job"] > section {
  width: 100%;
  height: 100%;
  overflow: auto;
  float: left;
}

.timeInput {
  background-color: #4c5051;
  text-align: center;
}

.timeInput:focus {
  color: #bbbbbb;
}

.form-time {
  width: 120px;
}

.error {
  color: red;
  font-size: 13px;
}

.side-title {
  margin-bottom: 20px;
}
