<div #mapMain role="vertical-canvas">
  <div #mapControl
       role="horizontal-canvas" style="padding: 0 317px 0 238px">
    <aside
     #leftPanel
     mwlResizable
     [resizeEdges]="{bottom: false, right: true, top: false, left: false}"
     (resize)="resizeLeftPanel($event)"
     [validateResize]="validateLeftPanelResize"
     role="left-bar" style="width:238px;" [ngSwitch]="leftPanelState">
      <app-left-panel [graphProps]="designerOps" [panel]="leftPanel"></app-left-panel>
      <!-- <app-left-panel [projectsTree]="projectsTree" [graphProps]="designerOps"></app-left-panel> -->
    </aside>
    <section #mapEditor [hidden]="!mapLoaded">
      <header *ngIf="openMaps && openMaps.length > 0">
        <span *ngFor="let mapItem of openMaps; let mapIndex = index" (click)="changeMap(mapItem)" role="tab" [class.active]="currentMap.id == mapItem.id"><span>{{ mapItem.name }} ({{ mapItem.versionIndex }})</span><i (click)="closeMap(mapIndex, mapItem.id)" class="pmap-9"></i></span>
      </header>
      <app-map-editor (informOuterLayer)="updateToolBox($event)" (onExecution)="mapExecuted($event)" *ngIf=
      "currentMap"></app-map-editor>
    </section>
    <aside #rightPanel role="right-bar" style="width:317px;" [hidden]="!currentMap"
     mwlResizable
     [resizeEdges]="{bottom: false, right: false, top: false, left: true}"
     (resize)="resizeRightPanel($event)"
     [validateResize]="validateRightPanelResize"
      >
      <app-map-settings *ngIf="currentMap"></app-map-settings>
    </aside>
  </div>
  <div
    #messagesEl
    mwlResizable
    [resizeEdges]="{bottom: false, right: false, top: true, left: false}"
    (resize)="resizeMessages($event)"
    [validateResize]="validateMessagesResize"
    class="footer-container"

    >
      <app-messages role="messages" class="messages-panel" [messages]="messages" (getUpdatedMessages)="getMessages($event)" ></app-messages>
  </div>
</div>
