<div class="body">
	<div class="wrapper">
		<div class="middle">
			<div class="login-box">
				<div class="box-wrap">
					<div class="box-header">
						<h1>Register</h1>
						<div class="login-box-img">
							<img src="/assets/img/logo.png" alt="">
						</div>
					</div>
					<div class="fields-wrapper">
						<div class="form-elem-group">
							<input #username type="text" name="username" value="" placeholder="Username">
						</div>
						<div class="form-elem-group">
							<input #password type="password" name="password" value="" placeholder="Password">
						</div>
            <div class="form-elem-group">
              <input #passwordrepeated type="password" name="password" value="" placeholder="Password">
            </div>
						<div class="form-elem-group">
							<input #email type="text" name="email" value="" placeholder="email">
						</div>
						<div>
							<div class="err" [hidden]="error.length == 0"><span>* {{ error }}</span></div>
						</div>
						<div class="box-buttom-row">
              <div class="left-row">
								<button (click)="register(username.value, password.value, passwordrepeated.value, email.value)" class="login-btn" type="button">Register</button>
							</div>
							<div class="right-row login-bottom-right-pane">
								<span class="form-label block pointer" (click)="gotoLogin()">Allready have an account? sign in</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
