<div [draggable] role="small-popup-add-agent" class="small-popup-add-agent">
  <header>
    <h2>Add Plugins</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section class="procces-section">
    <div ng2FileDrop [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" (fileOver)="fileOverBase($event)" [uploader]="uploader"
      class="well my-drop-zone">
      Drop files here
    </div>
  </section>
  <section>
    <h5>Files To upload</h5>
    <thead>
      <tr>
        <th [style.width.px]="100">Name</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of uploader.queue">
        <td><strong>{{ item?.file?.name }}</strong></td>
        <td *ngIf="uploader.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
      </tr>
    </tbody>
  </section>
  <footer>
    <button class="btn-event" type="button" (click)="uploader.uploadAll();" [disabled]="!uploader.getNotUploadedItems().length"><i class="pmap-26"></i>Install</button>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
  </footer>
</div>
