.composition {
  position: relative;
}

.composition [class*=layer] {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.composition [class*=layer].layer-1 {
  z-index: 1;
}

.composition [class*=layer].layer-2 {
  z-index: 2;
}

.composition [class*=layer].layer-3 {
  z-index: 3;
}

.composition [class*=layer].layer-4 {
  z-index: 4;
}

.composition [class*=layer].layer-5 {
  z-index: 5;
}

.table {
  display: table;
}

.table > .row {
  display: table-row !important;
  margin-left: 0;
  margin-right: 0;
}

.table > .row > .col {
  display: table-cell;
}

.grid {
  display: block;
  padding: 0;
}

.grid:before, .grid:after {
  content: " ";
  display: table;
}

.grid:after {
  clear: both;
}

.grid > .row {
  display: block;
  margin: 0;
}

.grid > .row:before, .grid > .row:after {
  content: " ";
  display: table;
}

.grid > .row:after {
  clear: both;
}

.grid > .row > [class*=col] {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.grid > [class*=col] {
  display: block;
  padding: 0;
  float: left;
  margin: 0;
}

.grid.grid-xs {
  padding: 5px;
}

.grid.grid-xs div[class*=col-] {
  padding: 5px;
}

.grid.grid-sm {
  padding: 11px;
}

.grid.grid-sm div[class*=col-] {
  padding: 11px;
}

.grid.grid-md {
  padding: 13px;
}

.grid.grid-md div[class*=col-] {
  padding: 13px;
}

.grid.grid-lg {
  padding: 17px;
}

.grid.grid-lg div[class*=col-] {
  padding: 17px;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
  pointer-events: none;
}

/****************************************
* Developed unbywyd@gmail.com*
****************************************/
body, html {
  width: 100%;
  height: 100%;
  min-height: 00%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
}

body, body *, html, html * {
  box-sizing: border-box;
  transition: color 0.2s, background 0.2s, border-color 0.2s;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

table, table td {
  padding: 0;
  margin: 0;
  border: 0;
}

[class*="pmap"].green {
  color: #139d55;
}

[class*="pmap"].olive {
  color: #8aab52;
}

[class*="pmap"].yellow {
  color: #f6ac34;
}

[class*="pmap"].orange {
  color: #e67259;
}

[class*="pmap"].purple {
  color: #7b619f;
}

[class*="pmap"].blue {
  color: #5db5f4;
}

[class*="pmap"].red {
  color: #f93815;
}

button[type="button"] {
  background: none;
  border: none;
}

button[type="button"], button[type="button"]:active {
  box-shadow: none;
  outline: none;
  box-shadow: none;
  border-radius: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #bbb;
  text-decoration: none;
}

.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  display: block;
}

.dropdown-menu {
  background-color: #262829;
  border: 1px solid #4a4e50;
  margin: 0;
  margin-top: 2px !important;
  font-size: 13px;
  color: #bbbbbb;
}

.dropdown-menu li {
  padding: 4px 10px;
}

.dropdown-menu li a {
  color: #bbbbbb;
  text-align: left !important;
  padding-left: 8px;
  padding-right: 8px;
}

.dropdown-menu li:hover, .dropdown-menu li a:hover {
  background-color: #02a7c7 !important;
}

.dropdown-menu li:hover a {
  color: #000;
}

.dropdown-menu li.selected a {
  background-color: #646464;
  color: #FFF;
}

.pmap-30 {
  direction: ltr;
}

.pmap-30 span {
  display: table-cell;
}

button[type="button"].btn-event {
  border: 1px solid #696f70;
  border-radius: 1px;
  background-color: #3c3e41;
  height: 28px;
  line-height: 22px;
  padding: 0 14px 0 0;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 12px;
}

button[type="button"].btn-event i {
  display: inline-block;
  width: 32px;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  color: #3aac59;
}

button[type="button"].btn-event i:before {
  position: relative;
  top: -1px;
}

button[type="button"].btn-event:hover, button[type="button"].btn-event:active, button[type="button"].btn-event.active, button[type="button"].btn-event:focus {
  background-color: #4b4f51;
  color: #bbb;
}

button[type="button"].btn-event.btn-no-icon {
  padding: 0 14px;
}

button[type="button"].btn-event.btn-danger i {
  color: #fc4a4a;
}

/* */

button[type="submit"].btn-event {
  border: 1px solid #696f70;
  border-radius: 1px;
  background-color: #3c3e41;
  height: 28px;
  line-height: 22px;
  padding: 0 14px 0 0;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 12px;
}

button[type="submit"].btn-event i {
  display: inline-block;
  width: 32px;
  font-size: 19px;
  line-height: 19px;
  text-align: center;
  vertical-align: middle;
  color: #3aac59;
}

button[type="submit"].btn-event i:before {
  position: relative;
  top: -1px;
}

button[type="submit"].btn-event:hover,
button[type="submit"].btn-event:active,
button[type="submit"].btn-event.active,
button[type="submit"].btn-event:focus {
  background-color: #4b4f51;
  color: #bbb;
}

button[type="submit"].btn-event.btn-no-icon {
  padding: 0 14px;
}

button[type="submit"].btn-event.btn-danger i {
  color: #fc4a4a;
}

.form-control, .form-controlbutton[type="button"], .form-control.bootstrap-select {
  height: 26px;
  padding: 0 8px;
  background-color: #4c5051;
  border-radius: 2px;
  border: 1px solid #646464;
  display: block;
}

.form-control, .form-control a, .form-control:hover, .form-control:hover a, .form-control:focus, .form-control:focus a, .form-control:active, .form-control:active a, .form-controlbutton[type="button"], .form-controlbutton[type="button"] a, .form-controlbutton[type="button"]:hover, .form-controlbutton[type="button"]:hover a, .form-controlbutton[type="button"]:focus, .form-controlbutton[type="button"]:focus a, .form-controlbutton[type="button"]:active, .form-controlbutton[type="button"]:active a, .form-control.bootstrap-select, .form-control.bootstrap-select a, .form-control.bootstrap-select:hover, .form-control.bootstrap-select:hover a, .form-control.bootstrap-select:focus, .form-control.bootstrap-select:focus a, .form-control.bootstrap-select:active, .form-control.bootstrap-select:active a {
  outline: none !important;
}

.form-control:focus, .form-control:active, .form-control.open, .form-controlbutton[type="button"]:focus, .form-controlbutton[type="button"]:active, .form-controlbutton[type="button"].open, .form-control.bootstrap-select:focus, .form-control.bootstrap-select:active, .form-control.bootstrap-select.open {
  border-color: #02a7c7;
}

.form-control::selection, .form-controlbutton[type="button"]::selection, .form-control.bootstrap-select::selection {
  background-color: #02a7c7;
  color: #FFF;
}

.form-control::-moz-selection, .form-controlbutton[type="button"]::-moz-selection, .form-control.bootstrap-select::-moz-selection {
  background-color: #02a7c7;
  color: #FFF;
}

.form-control.bootstrap-select, .form-controlbutton[type="button"].bootstrap-select, .form-control.bootstrap-select.bootstrap-select {
  position: relative;
  padding: 0;
}

.form-control.bootstrap-select .btn, .form-controlbutton[type="button"].bootstrap-select .btn, .form-control.bootstrap-select.bootstrap-select .btn {
  padding: 0 8px;
  display: block;
  border-radius: 0;
  width: 100%;
  height: inherit;
  cursor: pointer;
}

.form-control.bootstrap-select .btn, .form-control.bootstrap-select .btn:focus, .form-controlbutton[type="button"].bootstrap-select .btn, .form-controlbutton[type="button"].bootstrap-select .btn:focus, .form-control.bootstrap-select.bootstrap-select .btn, .form-control.bootstrap-select.bootstrap-select .btn:focus {
  outline: none !important;
}

.form-control.bootstrap-select .btn .bs-caret .caret, .form-controlbutton[type="button"].bootstrap-select .btn .bs-caret .caret, .form-control.bootstrap-select.bootstrap-select .btn .bs-caret .caret {
  border: none;
  display: block;
  height: 26px;
  line-height: 30px;
  top: 0;
  font-size: 9px;
  left: auto;
  right: 17px;
}

.form-control.bootstrap-select .btn .bs-caret .caret:before, .form-controlbutton[type="button"].bootstrap-select .btn .bs-caret .caret:before, .form-control.bootstrap-select.bootstrap-select .btn .bs-caret .caret:before {
  font-family: "productionmap" !important;
  content: '\e913';
  color: #929292;
}

.pmap-table {
  border: 1px solid #565b5d;
  padding-left: 14px;
  border-radius: 2px;
  font-size: 13px;
}

.pmap-table .tbody-wrapper {
  overflow-x: hidden;
  overflow-y: auto;
  padding-right: 14px;
}

.pmap-table .thead-wrapper {
  padding-right: 14px;
}

.pmap-table .thead, .pmap-table .tbody {
  display: table;
  width: 100%;
}

.pmap-table .thead .tr, .pmap-table .tbody .tr {
  display: table-row;
}

.pmap-table .thead .tr .cell, .pmap-table .tbody .tr .cell {
  display: table-cell;
  vertical-align: middle;
  padding: 5px 0;
  border-bottom: 1px solid #565b5d;
}

.pmap-table .thead .tr .cell button:hover, .pmap-table .thead .tr .cell button:active, .pmap-table .tbody .tr .cell button:hover, .pmap-table .tbody .tr .cell button:active {
  color: #bbb;
}

.pmap-table .thead {
  font-weight: 700;
  color: #000;
}

.pmap-table .thead .tr .cell {
  padding: 9px 0;
}

.pmap-table .tbody {
  color: #bbbbbb;
}

.pmap-table .tbody .tr:last-child .cell {
  border-bottom: none;
}

textarea.form-control {
  height: 55px;
  padding: 8px;
}

.form-radio {
  white-space: nowrap;
}

.form-radio i {
  display: inline-block;
  vertical-align: top;
  width: 21px;
  height: 21px;
  vertical-align: middle;
  border-radius: 50%;
  background-color: #4c5051;
  border: 1px solid #2d2f30;
  cursor: pointer;
}

.form-radio i:before {
  content: '';
  margin: 6px auto;
  width: 7px;
  height: 7px;
  display: block;
  border-radius: 50%;
  background-color: #4c5051;
  transition: background-color 0.2s;
}

.form-radio input {
  display: none;
}

.form-radio input:checked + i:before {
  background-color: #02a7c7;
  animation: radio_animation 0.6s 1 ease-in-out;
}

@keyframes radio_animation {
  20% {
    transform: scale(1.4);
  }
}

.form-radio .form-label {
  display: inline-block;
  vertical-align: middle;
  margin-left: 6px;
}

.form-date {
  padding-right: 30px;
}

.form-date:before, .form-date:after {
  content: " ";
  display: table;
}

.form-date:after {
  clear: both;
}

.form-date .form-control {
  float: left;
  width: 100%;
}

.form-date .form-control + i {
  color: #6f6f6f;
  cursor: pointer;
  float: right;
  margin-right: -30px;
  width: 30px;
  text-align: right;
  display: block;
  height: 26px;
  line-height: 26px;
  text-align: right;
  font-size: 21px;
}

.form-date .form-control + i:hover, .form-date .form-control + i:active {
  color: #bbb;
}

.form-time {
  white-space: nowrap;
  height: 52px;
}

.form-time:before, .form-time:after {
  content: " ";
  display: table;
}

.form-time:after {
  clear: both;
}

.form-time > i {
  height: 52px;
  line-height: 52px;
  text-align: center;
  width: 15px;
  display: block;
  float: left;
  font-style: normal;
  color: #929292;
}

.form-time > span {
  width: 52px;
  display: block;
  float: left;
}

.form-time > span .form-control {
  display: block;
  width: 100%;
}

.form-time > span span {
  display: block;
  height: 16px;
  line-height: 16px;
  text-align: center;
}

.form-time > span span i {
  color: #929292;
  cursor: pointer;
  font-size: 9px;
  padding: 0 5px;
}

.form-time > span span i:hover, .form-time > span span i:active {
  color: #b3b3b3;
}

.form-time > span span:first-child i {
  vertical-align: top;
}

.form-time > span span:last-child i {
  vertical-align: bottom;
}

.form-checkbox input {
  display: none;
}

.form-checkbox input + i {
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 2px;
  background-color: #3c3f41;
  border: 1px solid #646464;
  vertical-align: middle;
  margin-right: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 18px;
  font-style: normal;
}

.form-checkbox input + i:before {
  content: '\e936';
  font-family: "productionmap" !important;
  font-size: 12px;
  color: transparent;
  transition: color 0.1s;
}

.form-checkbox input:checked + i:before {
  color: #929292;
}

.tree {
  color: #bbb;
  font-size: 14px;
  line-height: 23px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.node-content-wrapper:before {
  display: inline-block;
  content: '\e912';
  font-family: 'productionmap';
  color: #d4b64f;
  font-style: normal;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 17px;
}

.tree-node-leaf:not(.tree-node-level-1) > .node-content-wrapper:before {
  display: inline-block;
  content: '\e916';
  font-family: 'productionmap';
  color: #d4b64f;
  font-style: normal;
  vertical-align: middle;
  margin-right: 6px;
  font-size: 15px;
  color: #86ccfe;
}

.tree-node-leaf > .node-content-wrapper:hover {
  color: #ffffff !important;
}

.tree-node-leaf > .node-content-wrapper:hover::before {
  color: #ffffff !important;
}

.node-content-wrapper:hover {
  background: #02a7c7 !important;
  color: #ffffff;
}

.tree-node-active.tree-node-focused > .node-content-wrapper:hover {
  background: #02a7c7 !important;
}

button.action-add-btn {
  border: 1px solid #696f70;
  border-radius: 1px;
  background-color: #3c3e41;
  height: 28px;
  line-height: 22px;
  padding: 0 10px;
  margin: 5px 0 0 18px;
  cursor: pointer;
  color: #f1f1f1;
  font-size: 13px;
}

button.action-add-btn i {
  padding-right: 6px;
  font-size: 13px;
  padding-bottom: 3px;
  display: inline-block;
  vertical-align: middle;
  color: #3aac59;
}

.pm-font {
  font-family: 'Open Sans', sans-serif !important;
}

.label {
  font-size: inherit !important;
  font-weight: inherit !important;
  color: inherit !important;
}

 .toggle-children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAwCAMAAABDh1hgAAAAdVBMVEVBQ0VdXmBeX2FgYWNgYmNiY2VmZ2hoaGprbG1sbW5tbm9wcXJzdHV1dnd2dnd3eHl4eHl4eXp6e3t8fX18fX59fX5/gIGBgYKBgoKCg4ODg4SDhISFhYaJiYmJiYqKiouNjY6Ojo6Pj4+QkJCRkZGSkpKSkpKgsmYYAAAAJnRSTlMABgYMDBMfJTIyOD5LUVFXV1ddZGRqcHZ2dnx8g4+Pj5uboqKoqLEcqkUAAADaSURBVHgBtZTbToRAEERHF5URL3gREQERuvr/P1ElxoDFUE+c5xOyZ7sg/HDx8Fbdhj1ezd0x3qeNDj6DOmU8w39Bl1DM/8CwrcCXzikwGXzJFMVTvrFy97ekwu7w3+GwlpyenJocDivN3UVYnNxV2GmADmOn5YNz/HFh5BhNMef4qOPHIMNwyU7ja0pWnkhR/w5yOR7TV3jU99arUSeya0oRR2zkFOSgDkop1saLTIl61aN+NyDfwgzyI3WOlXETNgCn8M4ohfikFOKsn59jddiheP/oq6uQ4Au3R3CpudaKJAAAAABJRU5ErkJggg==) !important;
}

.pmap-table .thead {
  color: #02a7c7 !important;
}

.pmap-table .tbody-wrapper .tbody .tr .cell {
  padding: 15px 0 !important;
}

.pointer {
  cursor: pointer !important;
}

.node-content-wrapper-active.node-content-wrapper-focused {
  background-color: #262829 !important;
  box-shadow: none !important;
}

.inline {
  display: inline-block;
}

i[class^="pmap-"], i[class*=" pmap-"] {
  color: #6f6f6f;
}

i[class^="pmap-"]:hover, i[class*=" pmap-"]:hover {
  color: #fff;
}

button > i[class^="pmap-"] {
  cursor: pointer;
}

.cal-month-view .cal-cell-row:hover,
.cal-month-view .cal-header .cal-cell:hover {
  background-color: transparent !important;
}

.cal-month-view .cal-header .cal-cell {
  font-size: 13px;
  color: #bbbbbb;
  font-weight: normal;
}

.cal-month-view .cal-header .cal-cell {
  background-color: transparent;
}

.cal-month-view .cal-cell {
  background-color: #474b4c;
}

.cal-month-view .cal-day-cell:not(:last-child) {
  border-right: 1px solid #323436 !important;
}

.cal-month-view .cal-days .cal-cell-row {
  border-bottom: 1px solid #323436 !important;
}

.cal-month-view .cal-days {
  border: 1px solid #323436 !important;
}

.cal-month-view .cal-day-number,
.cal-month-view .cal-day-cell.cal-weekend .cal-day-number{
  font-size: 16px;
  color: #858585 !important;
  margin-top: 10px;
}


.cal-month-view .cal-day-cell.cal-today .cal-day-number {
  font-size: 24px;
  color: #02a7c7 !important;
}

.cal-month-view .cal-cell-row .cal-cell:hover,
.cal-month-view .cal-cell.cal-has-events.cal-open,
.cal-month-view .cal-day-cell.cal-today{
  background-color: #3c3e41 !important;
}

.noHover:hover {
  color: #6f6f6f !important;
}

.popup-title {
  font-family: 'Open Sans', sans-serif !important;
  color: #bbbbbb;
  font-weight: bold;
  font-size: 13px;

}

.inline-block {
  display: inline-block;
}

.datepicker-input {
  height: 26px;
  width: auto !important;
  padding: 0 8px;
  background-color: #4c5051;
  border-radius: 2px;
  border: 1px solid #646464 !important;
  color: #bbb !important;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon i svg{
  height:18px !important;
  width: 18px !important;
  position: relative !important;
  top: 3px !important;
  left: 3px !important;
  color: #6f6f6f !important;
}

.datepicker-container .datepicker-input-container .datepicker-input-icon i svg g g {
  fill: #6f6f6f !important;
}

.auto-height {
  height: auto !important;
}

