<header>
  <h2><span>MAP SETTINGS</span><i class="pmap-custom r-resize"></i></h2>
  <div role="map-settings-buttons">
    <button type="button" [class.active]="currentPanel == 0" (click)="selectPanel(0)">Attributes</button>
    <button type="button" [class.active]="currentPanel == 1" (click)="selectPanel(1)">Agents</button>
    <button type="button" [class.active]="currentPanel == 2" (click)="selectPanel(2)">Triggers</button>
  </div>
</header>
<section [ngSwitch]="currentPanel">
  <app-map-attributes *ngSwitchCase="0"></app-map-attributes>
  <app-map-servers *ngSwitchCase="1"></app-map-servers>
  <app-map-triggers *ngSwitchCase="2"></app-map-triggers>
</section>
