header {
  margin-top: -60px;
  height: 60px;
}

header h2 {
  padding-left: 18px;
  height: 50%;
  border-bottom: 1px solid #1f2122;
}

header h2 i {
  left: 0;
}

header h2 i:before {
  content: "\e902";
  /* !rtl-only */
  content: "\e903";
  /* !ltr-only */
}

header [role="map-settings-buttons"] {
  height: 50%;
}

header [role="map-settings-buttons"]:before, header [role="map-settings-buttons"]:after {
  content: " ";
  display: table;
}

header [role="map-settings-buttons"]:after {
  clear: both;
}

header [role="map-settings-buttons"] button {
  width: 33%;
  display: block;
  float: left;
  height: 100%;
  line-height: 29px;
  color: #757677;
  background-color: #36393b;
  font-size: 14px;
  cursor: pointer;
}

header [role="map-settings-buttons"] button:hover, header [role="map-settings-buttons"] button:active, header [role="map-settings-buttons"] button.active, header [role="map-settings-buttons"] button:focus {
  background-color: #4b4f51;
  color: #bbb;
}

header [role="map-settings-buttons"] button:first-child {
  border-right: 1px solid #1f2122;
}

section {
  height: 100%;
}
