.small-popup-processes {
  position: absolute;
  z-index: 2000;
  background-color: #404345;
  width: 850px;
  left: 50%;
  margin-left: -425px;
}

.small-popup-processes > header {
  text-align: center;
  height: 34px;
  background-color: #5d5f61;
  cursor: default;
}

.small-popup-processes > header h2 {
  margin: 0;
  line-height: 34px;
  font-size: 18px;
  color: #bbbbbb;
  font-weight: normal;
}

.small-popup-processes > header i {
  width: 36px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  cursor: pointer;
  color: #393b3d;
}

.small-popup-processes > header i:hover {
  color: #9e9c9c;
}

.small-popup-processes > .process-selection {
  height: 66px;
  border-bottom: 1px solid #323436;
  width:100%;
  background-color: #333537;
}

.small-popup-processes > .process-selection .content-wrap {
  padding-top: 20px;
}

.small-popup-processes > .process-selection .right-col {
  width: 510px;
  padding-left: 290px;
  float: left;
}

.right-col-title {
  margin-left: -120px;
  float: left;
  font-size: 13px;
}

.content {
  padding-left: 100px;
  background-color: #333537;
}

.process-select {
  height: inherit !important;
}

/* .process-selection .left-col {
  width: 190px;
  float: right;
} */

.left-col {
  position: absolute;
  right: 20px;
  float: right;
}

.btn-new {
  width: 150px;
}

.process-action-menu {
  height: 100%;
  width: 100px;
  float: left;
  text-align: center;
  margin-left: -100px;
}

.active {
  color: #02a7c7 !important;
  background-color: #404345;
}

.process-action-menu a.menu-item {
  font-weight: bold;
  font-size: 14px;
  color: #716f71;
  padding: 22px 0;
  display: block;
  cursor: pointer;
}

.action-content {
  padding: 20px 30px;
  border-left: 1px solid black;
  background-color: #404345;
}

.action-content .has-chk-row {
  padding-left: 158px;
  width: 378px;
  height: 26px;
}

.action-content .form-group .chk-row {
  float: left;
  width: 158px;
  margin-left: -158px;
  margin-right: 0;
}

.separator {
  border-bottom: 1px solid black;
  width: 100%;
}

.multiple-checkbox-row {
  margin-right: 20px;
}

.actions-title {
  font-weight: bold;
  font-size: 14px;
  color: #ececec;
  margin-bottom: 10px;
}

.trd-cell {
  width: 33.33%;
}

.pmap-table {
  margin-bottom: 10px;
}

.desc-wrap {
  padding-left: 158px;
  width: 379px;
}

.desc-label {
  width: 158px;
  margin-left: -158px;
  float: left;
}

.action-select {
  width: 220px;
  margin-right: 40px;
}

.max-width {
  width: 100% !important;
}

.action-col {
  float: left;
  width: 200px;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.action-row {
  padding: 10px 0;
}

.default-height {
  height: initial !important;
}

.first-action-col {
  width: 25%;
}

.sec-action-col {
  width: 10%;
}

.trd-action-col {
  width: 65%;
}


.text-light {
  color: #bbbbbb;
}