<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle>Manage Processes</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <div class="process-selection">
    <div class="content-wrap">
      <div class="right-col">
        <label class="right-col-title popup-title">Process</label>
        <select id="pr-process" class="form-control process-select" [(ngModel)]="currentProcess">
          <option *ngFor="let process of link.processes" [ngValue]="process">{{process.name}}</option>
        </select>
      </div>
      <div class="left-col">
        <button type="button" class="btn-event btn-new" (click)="addProcess()">
          <i class="pmap-25"></i> Add New Process</button>
      </div>
    </div>
  </div>
  <section class="content">
    <aside class="process-action-menu">
      <nav>
        <a class="menu-item" (click)="editProcess()" [class.active]="!this.editingAction">Process</a>
        <a class="menu-item" (click)="onEditActionClick()" [class.active]="this.editingAction">Action</a>
      </nav>
    </aside>

    <div class="process-edit" [hidden]="this.editingAction">

      <section class="action-content">
        <div class="form-group has-chk-row">
          <label class="form-checkbox chk-row">
            <span class="form-label">Process Name</span>
          </label>
          <input type="text" class="form-control" [(ngModel)]="currentProcess.name">
        </div>
        <div class="form-group has-chk-row">
          <label class="form-checkbox chk-row">
            <span class="form-label">Process ID</span>
          </label>
          <span class="text-light">{{ currentProcess.id }}</span>
        </div>
      </section>

      <div class="separator"></div>

      <section class="action-content">
        <div class="form-group has-chk-row">
          <label for="pr-chx-1" class="form-checkbox chk-row">
            <input type="checkbox" id="pr-chx-1" [(ngModel)]="link.condition"><i></i>
            <span class="form-label">Link has Condition</span>
          </label>
          <input type="text" class="form-control" [hidden]="!link.condition" [(ngModel)]="link.conditionCode">
        </div>
        <div class="form-group has-chk-row">
          <label for="pr-chx-2" class="form-checkbox chk-row">
            <input type="checkbox" id="pr-chx-2" [(ngModel)]="link.filterAgent"><i></i>
            <span class="form-label">Filter Agents</span>
          </label>
          <input type="text" class="form-control" [hidden]="!link.filterAgent" [(ngModel)]="link.filterAgentCode">
        </div>
      </section>

      <div class="separator"></div>

      <section class="action-content">
        <div class="form-group">
          <label for="pr-chx-3" class="form-checkbox multiple-checkbox-row">
            <input type="checkbox" id="pr-chx-3" [(ngModel)]="currentProcess.default_execution"><i></i>
            <span class="form-label">Default execution process</span>
          </label>
          <label for="pr-chx-4" class="form-checkbox multiple-checkbox-row">
            <input type="checkbox" id="pr-chx-4" [(ngModel)]="currentProcess.mandatory"><i></i>
            <span class="form-label">Mandatory process</span>
          </label>
        </div>
        <div class="form-group has-chk-row">
          <label for="pr-chx-5" class="form-checkbox chk-row">
            <input type="checkbox" id="pr-chx-5" [(ngModel)]="currentProcess.condition"><i></i>
            <span class="form-label">Has condition</span>
          </label>
          <input type="text" class="form-control" [hidden]="!currentProcess.condition" [(ngModel)]="currentProcess.conditionCode">
        </div>

        <div class="form-group desc-wrap">
          <label for="pr-txta" class="form-label desc-label">Description</label>
          <textarea id="pr-txta" class="form-control" [(ngModel)]="currentProcess.description"></textarea>
        </div>

      </section>

      <div class="separator"></div>

      <section class="action-content">
        <div class="actions-table">
          <h3 class="actions-title">Actions</h3>

          <div class="pmap-table">
            <div class="thead-wrapper">
              <div class="thead">
                <div class="tr pmap-header">
                  <div class="cell trd-cell">Name</div>
                  <div class="cell trd-cell">Last Update</div>
                  <div class="cell trd-cell">Actions</div>
                </div>
              </div>
            </div>
            <div class="tbody-wrapper">
              <div class="tbody">
                <div *ngFor="let action of currentProcess.actions; let actionIndex = index" class="tr">
                  <div class="cell trd-cell">{{action.name}}</div>
                  <div class="cell trd-cell">{{action.lastUpdate | date:'shortDate' }} {{action.lastUpdate | date:'shortTime'}}</div>
                  <div class="cell trd-cell">
                    <button type="button" (click)="editAction(action, actionIndex)"><i class="pmap-35"></i></button>
                    <button type="button" (click)="onDeleteActionClick(actionIndex)"><i class="pmap-27"></i></button>
                    <div [hidden]="(actionIndex == 0)" class="inline-block">
                      <button type="button" (click)="moveActionUp(actionIndex)"><i class="pmap-33"></i></button>
                    </div>
                    <div [hidden]="(actionIndex == (currentProcess.actions.length - 1))" class="inline-block">
                      <button type="button" (click)="moveActionDown(actionIndex)"><i class="pmap-37"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn-event" (click)="onAddActionClick()"><i class="pmap-25"></i>Add Action</button>
        </div>
      </section>

      <div class="separator"></div>

      <footer class="action-content text-right">
        <button class="btn-event btn-danger" type="button" (click)="onDeleteProcess()"><i class="pmap-31"></i>Delete Process</button>
        <button class="btn-event" type="button"><i class="pmap-26"></i>Test Process</button>
        <button class="btn-event" type="button" (click)="onSaveClick()"><i class="pmap-28"></i>Save</button>
        <!--<button class="btn-event btn-no-icon" type="button">Cancel</button>-->
      </footer>

    </div>

    <div class="action-edit" [hidden]="!this.editingAction">
      <section class="action-content">
        <div class="form-group has-chk-row max-width no-padding-bottom no-margin-bottom">
          <label class="form-checkbox chk-row">
            <span class="form-label">Action List</span>
          </label>
          <div class="inline-block action-select">
            <select class="form-control process-select" [(ngModel)]="currentAction">
              <option *ngFor="let action of currentProcess.actions; let actionIndex = index" [ngValue]="action"> {{action.name}} </option>
            </select>
          </div>
          <div class="inline-block left-col">
            <button type="button" class="btn-event btn-new" (click)="onAddActionClick()">
              <i class="pmap-25"></i> Add New Action </button>
          </div>
        </div>
      </section>
      <div class="separator"></div>

      <section class="action-content">

        <div class="row action-row">
          <div class="col-md-2 has-form-label">
            <span class="form-label">Server:</span>
          </div>
          <div class="col-md-4 has-form-label">
            <span class="form-label">{{ currentAction.server.type }}</span>
          </div>
          <div class="col-md-2 has-form-label">
            <span class="form-label">Timeout:</span>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="quantity" min="1" max="5" [(ngModel)]="currentAction.timeout">
          </div>
        </div>

        <div class="row action-row">
          <div class="col-md-2 has-form-label">
            <span class="form-label">Method:</span>
          </div>
          <div class="col-md-4">
            <select class="form-control default-height" [ngModel]="currentAction.method.name" (ngModelChange)="onChangeMethod($event)" >
              <option>-- Select Method --</option>
              <option *ngFor="let method of currentAction.server.methods" [ngValue]="method.name">{{ method.viewName }}</option>
            </select>
          </div>
          <div class="col-md-2 has-form-label">
            <span class="form-label">Timeunit:</span>
          </div>
          <div class="col-md-4">
            <select class="form-control default-height" [(ngModel)]="currentAction.timeunit">
              <option value>--- select unit ---</option>
              <option value="1">seconds</option>
              <option value="2">minutes</option>
            </select>
          </div>
        </div>

        <div class="row action-row">
          <div class="col-md-2">
            <span class="form-label">Action name:</span>
          </div>
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="name" [(ngModel)]="currentAction.name">
          </div>
          <div class="col-md-2">
            <span class="form-label">Retries:</span>
          </div>
          <div class="col-md-4">
            <input class="form-control" type="number" name="quantity" min="1" max="5" [(ngModel)]="currentAction.retries">
          </div>
        </div>

        <section class="row action-row">
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="form-group has-checkbox">
              <label for="action-chx-1" class="form-checkbox">
                <input type="checkbox" id="action-chx-1" [(ngModel)]="currentAction.mandatory"><i></i>
                <span class="form-label">Mandatory Action</span>
              </label>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-4">
            <div class="form-group has-checkbox">
              <label for="action-chx-2" class="form-checkbox">
                <input type="checkbox" id="action-chx-2" [(ngModel)]="currentAction.suspend"><i></i>
                <span class="form-label">Suspend Action</span>
              </label>
            </div>
          </div>
        </section>

      </section>

      <div class="separator"></div>

      <section class="action-content">
        <div role="parameters">
          <h3 class="actions-title">Parameters</h3>
          <div class="pmap-table">
            <div class="thead-wrapper">
              <div class="thead">
                <div class="tr pmap-header">
                  <div class="cell first-action-col">Name</div>
                  <div class="cell sec-action-col">Code</div>
                  <div class="cell trd-action-col">Value</div>
                </div>
              </div>
            </div>
            <div class="tbody-wrapper">
              <div class="tbody">
                <div *ngFor="let param of currentAction.method.params" class="tr">
                  <div class="cell first-action-col">{{param.name}}</div>
                  <div class="cell sec-action-col">
                    <label class="form-checkbox">
                      <input type="checkbox" [(ngModel)]="param.code"><i></i>
                    </label>
                  </div>
                  <div class="cell trd-action-col">
                    <div [hidden]="!(param.type === 'string' || param.code === true)">
                      <!-- Input type string -->
                      <input type="text" class="form-control" placeholder="enter value..." [(ngModel)]="param.text">
                    </div>

                    <div [hidden]="!(param.type === 'text')">
                      <!-- Input type text area -->
                      <textarea rows="4" cols="50" placeholder="enter value..." [(ngModel)]="param.text"> </textarea>
                    </div>

                    <div [hidden]="!(param.type === 'collection')">
                      <!--Input type collection-->
                      <select class="form-control" [(ngModel)]="param.text">
                        <option>-- select option --</option>
                        <option *ngFor="let opt of param.options" [ngValue]="opt.id">{{ opt.name }}</option>
                      </select>
                    </div>

                    <div [hidden]="!(param.type === 'file' && (!param.code || param.code === false))">
                      <!-- Input type file -->
                      <input class="form-control" type="file" placeholder="select file..." [(ngModel)]="param.file" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="separator"></div>

      <footer class="action-content text-right">
        <button class="btn-event" type="button" (click)="onSaveClick()"><i class="pmap-28"></i>Save</button>
        <button class="btn-event" (click)="deleteAction()" type="button"><i class="pmap-27"></i>Delete Action</button>
        <button class="btn-event btn-no-icon" (click)="onSaveClick()" type="button">Cancel</button>
      </footer>

    </div>
  </section>
</div>
