.body {
    background-color: #3c3e41;
    height: 100%;
    min-height: 793px;
    width: 100%;
    padding-top: 40px;
    overflow: hidden;
}

.block {
    display: block
}

.left-row {
    float: left;
}

.right-row {
    float: right;
}

.pointer {
    cursor: pointer;
}

.wrapper {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    margin-top: -40px;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.login-box {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: #404345;
    border-radius: 4px;
    box-shadow: 0px 1px 43px 0.00px rgba(0, 0, 0, 0.21);
    width: 462px;
}

.login-box input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #404345 inset;
  color: white;
  -webkit-text-fill-color: #A7A8A9 !important;
}

.box-wrap {
    padding: 20px 25px;
}

.box-header {
    height: 80px;
}

.login-box h1 {
    color: #f1f1f1;
    font-size: 26px;
    line-height: 33px;
    font-weight: 300;
    float: left;
    margin: 0;
}

.login-box-img {
    float: right;
    margin-top: 10px;
}

.login-box .form-elem-group {
    margin-bottom: 30px;
}

.login-box .form-elem-group label {
    font-size: 20px;
    color: #777777;
    line-height: 24px;

}

.login-box .form-elem-group input {
        width: 100%;
        background-color: transparent;
        border: 0;
        padding-bottom: 5px;
        border-bottom: 2px solid #02a7c7;
}

.login-box .form-elem-group input[placeholder] {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.login-box .form-elem-group input::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.login-box .form-elem-group input:-moz-placeholder {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.login-box .form-elem-group input::-moz-placeholder {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.login-box .form-elem-group input:-ms-input-placeholder {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
}

.login-box .box-buttom-row {
    margin-top: 50px;
    height: 36px;
}

.login-box .login-btn {
    width: 160px;
    height: 36px;
    border: 1px solid #02a7c7;
    border-radius: 1px;
    text-align: center;
    color: #02a7c7;
    cursor: pointer;
}

.login-box .login-btn:hover {
  background-color: #36383a;
}

.login-bottom-right-pane {
    margin-top: 5px;
}

.red {
    color: red;
}

.err {
  color: #C5B634;
}
