<div role="agents">
  <h2 class="agents-title"><i class="pmap-1 noHover"></i>Plugins</h2>
  <div class="pmap-table">
    <div class="thead-wrapper">
      <div class="thead">
        <div class="tr">
          <div class="cell">Agent Icon</div>
          <div class="cell">Type</div>
          <div class="cell">Static / Service</div>
          <div class="cell">Version</div>
          <div class="cell"></div>
        </div>
      </div>
    </div>
    <div class="tbody-wrapper">
      <div class="tbody">
        <div *ngFor="let agent of agents; let agentIndex = index" class="tr">
          <div class="cell"><img class="agentImage" src="{{agent.imgUrl}}" alt="{{agent.type}}"></div>
          <div class="cell">{{agent.type}}</div>
          <div class="cell">{{agent.api }}</div>
          <div class="cell">{{agent.version }}</div>
          <div class="cell">
            <button type="button" (click)="showAgent(agent)"><i class="pmap-3"></i></button>
            <button type="button" (click)="deleteAgent(agentIndex)"><i class="pmap-27"></i></button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <button type="button" class="btn-event" (click)="addAgent()"><i class="pmap-25"></i>Add Plugin</button>
</div>
