[role="agents"] > h2 {
  font-size: 20px;
  color: #f1f1f1;
  font-weight: normal;
  margin: 0 0 24px;
}

[role="agents"] > h2 i {
  display: inline-block;
  width: 32px;
  margin-right: 5px;
  text-align: center;
  vertical-align: middle;
  font-size: 25px;
}

[role="agents"] > h2 i {
  vertical-align: top !important;
}


[role="agents"] .pmap-table {
  margin-bottom: 10px;
}

[role="agents"] .pmap-table .thead .tr .cell:first-of-type, [role="agents"] .pmap-table .thead .tr .cell:nth-of-type(2), [role="agents"] .pmap-table .tbody .tr .cell:first-of-type, [role="agents"] .pmap-table .tbody .tr .cell:nth-of-type(2) {
  width: 200px;
}

[role="agents"] .pmap-table .thead .tr .cell:nth-of-type(3), [role="agents"] .pmap-table .tbody .tr .cell:nth-of-type(3), [role="agents"] .pmap-table .thead .tr .cell:nth-of-type(4), [role="agents"] .pmap-table .tbody .tr .cell:nth-of-type(4) {
  width: 133px;
}

[role="agents"] .pmap-table .thead .tr .cell:nth-of-type(5), [role="agents"] .pmap-table .tbody .tr .cell:nth-of-type(5), [role="agents"] .pmap-table .thead .tr .cell:nth-of-type(6), [role="agents"] .pmap-table .tbody .tr .cell:nth-of-type(6) {
  width: 20px  ;
}


.agentImage {
  max-height: 30px;
  max-width: 40px;
}

/* .agents-title i {
  color: #f1f1f1;
} */

h2.agents-title {
  color: #f1f1f1;
  font-size: 22px;
  font-weight: 300;
}

.pmap-table .thead .tr {
  font-weight: bold;
  color: #02a7c7;
}

.pmap-table .tbody-wrapper .tbody .cell {
  color: #bbbbbb;
  font-size: 13px;
}

.pmap-table .thead {
  color: #02a7c7 !important;
}
