header {
  margin-top: -40px;
  width: 100%;
  height: 40px;
  line-height: 38px;
  padding-left: 17px;
  padding-right: 35px;
}

header:before, header:after {
    content: " ";
  display: table;
}

header:after {
  clear: both;
}

header [role="logotype"] {
  display: block;
  float: left;
  cursor: default;
}

header [role="logotype"] img {
  position: relative;
  top: 3px;
}

header [role="header-bar"] {
  float: right;
}

header [role="header-bar"] [role="help"],  header [role="header-bar"] [role="user-info"] {
  font-size: 14px;
  color: #bbb;
  font-weight: 400;
  display: inline-block;
}

header [role="header-bar"] [role="help"]:hover,  header [role="header-bar"] [role="help"]:active,  header [role="header-bar"] [role="user-info"]:hover,  header [role="header-bar"] [role="user-info"]:active {
  color: #9e9c9c;
}

header [role="header-bar"] [role="help"] {
  margin-right: 36px;
}

header [role="header-bar"] [role="user-info"] i {
  display: inline-block;
  vertical-align: middle;
}

header [role="header-bar"] [role="user-info"] i:first-of-type {
  margin-right: 6px;
  position: relative;
  top: -3px;
  font-size: 16px;
  width: 16px;
}

header [role="header-bar"] [role="user-info"] i:last-of-type {
  margin-left: 8px;
  width: 8px;
  font-size: 4px;
}
