<div region="data-table">
  <header>
    <input type="text" [(ngModel)]="searchtext"><button type="button"><i class="pmap-4"></i></button>
  </header>
  <section>
    <div class="grid" *ngIf="map.mapView && map.mapView.attributes">
      <app-map-attribute *ngFor="let attribute of map.mapView.attributes| filterBy: ['name']: searchtext; let attributeIndex = index" [attribute]="attribute" (deleteAttribute)="deleteAttribute($event, attributeIndex)"></app-map-attribute>
    </div>
  </section>
  <footer>
    <button type="button" (click)="addAttribute()"><i class="pmap-25"></i> Add attribute</button>
  </footer>
</div>