<div region="data-table">
  <header>
      <div class="input-group">
        <input id="searchtext" type="text" [(ngModel)]="searchtext" class="form-control" placeholder="Search for..">
        <label for="searchtext"><i class="pmap-4"></i></label>
      </div>
  </header>
  <section>
    <div class="grid">
      <app-map-attribute *ngFor="let attribute of map.mapView.attributes| filterBy: ['name']: searchtext; let attributeIndex = index" [attribute]="attribute" (deleteAttribute)="deleteAttribute($event, attributeIndex)"></app-map-attribute>
    </div>
  </section>
  <footer>
    <button type="button" (click)="addAttribute()"><i class="pmap-25"></i> Add attribute</button>
  </footer>
</div>