<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle> Enter Process Name</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow(false)"></i>
  </header>
  <section>
    <div class="form-group has-form-label">
      <label for="pr-namea" class="form-label">Name</label>
      <input for="pr-namea" type="text" class="form-control" [(ngModel)]="process.name">
    </div>
  </section>
  <footer>
    <button class="btn-event btn-no-icon" type="button" (click)="createProcess()"> Create </button>
    <button class="btn-event btn-no-icon" (click)="closeWindow(false)" type="button">Cancel</button>
  </footer>
</div>