[role="production-map"] {
  background-color: #3c3e41;
  height: 100%;
  width: 100%;
  min-height: 793px;
  padding-top: 40px;
  overflow: hidden;
}

[role="production-map"]:before, [role="production-map"]:after {
  content: " ";
  display: table;
}

[role="production-map"]:after {
  clear: both;
}

[role="production-map"] > section {
  float: right;
  height: 100%;
  width: 100%;
  padding-left: 55px;
}

[role="production-map"] > section:before, [role="production-map"] > section:after {
  content: " ";
  display: table;
}

[role="production-map"] > section:after {
  clear: both;
}

[role="production-map"] > section > aside {
  height: 100%;
  width: 55px;
  float: left;
  margin-left: -55px;
  padding-top: 29px;
}

[role="production-map"] > section > section {
  float: right;
  width: 100%;
  height: 100%;
  padding: 1px 0 0 1px;
  background-color: #222222;
}