<div [draggable] role="small-popup-edit-agent" class="small-popup-edit-agent">
  <header>
    <h2> {{ agent.name }} </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section class="procces-section">
    <div class="form-group has-form-label">
      <label for="pr-namea" class="form-label">Name:</label>
      <input for="pr-namea" type="text" class="form-control" [(ngModel)]="agent.name">
    </div>
    <div class="form-group has-form-label">
      <label class="form-label">url: </label>
      <span>{{ agent.url }}</span>
    </div>
    <div>
      <h3>Attributes</h3>
      <app-map-attribute *ngFor="let attribute of agent.attributes; let attributeIndex = index" [attribute]="attribute" (deleteAttribute)="deleteAttribute($event, attributeIndex)"></app-map-attribute>
      <button class="btn-event" type="button" (click)="addAttribute()"><i class="pmap-25"></i> Add attribute</button>
    </div>
  </section>
  <footer>
    <button class="btn-event" [disabled]="updatingAgent" type="button" (click)="updateAgent(agent)" ><i class="pmap-26"></i>
      <span [hidden]="updatingAgent">save</span>
      <span [hidden]="!updatingAgent">saving...</span>
    </button>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">cancel</button>
  </footer>
</div>