.small-popup-processes {
  position: absolute;
  z-index: 2000;
  background-color: #404345;
  width: 656px;
  left: 50%;
  margin-left: -328px;
}

.small-popup-processes > header {
  text-align: center;
  height: 34px;
  background-color: #5d5f61;
  cursor: default;
}

.small-popup-processes > header h2 {
  margin: 0;
  line-height: 34px;
  font-size: 16px;
  color: #d1d1d1;
  font-weight: normal;
}

.small-popup-processes > header i {
  width: 36px;
  text-align: center;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  height: 34px;
  line-height: 34px;
  font-size: 13px;
  cursor: pointer;
  color: #393b3d;
}

.small-popup-processes > header i:hover {
  color: #9e9c9c;
}

.small-popup-processes > section {
  padding: 25px 33px;
  border-bottom: 1px solid #323436;
}

.small-popup-processes > footer {
  padding: 20px 29px;
  text-align: right;
}

.small-popup-processes > footer button {
  vertical-align: middle;
}

.small-popup-processes > footer button:first-child {
  margin-right: 4px;
}

.small-popup-processes[role="small-popup-processes"] {
  top: 47px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] > h3 {
  font-size: 14px;
  font-weight: bold;
  color: #bbbbbb;
  margin-bottom: 5px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table {
  margin-bottom: 10px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .thead .tr .cell:first-of-type, .small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .thead .tr .cell:nth-of-type(2), .small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:first-of-type, .small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:nth-of-type(2) {
  width: 130px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:nth-of-type(3) {
  width: 63px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:nth-of-type(7), .small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:nth-of-type(8) {
  width: 18px;
}

.small-popup-processes[role="small-popup-processes"] [role="actions"] .pmap-table .tbody .tr .cell:last-child {
  padding-right: 10px;
}

.small-popup-processes[role="small-popup-processes"] section .form-group {
  margin-bottom: 18px;
}

.small-popup-processes[role="small-popup-processes"] section .form-checkbox {
  margin-right: 56px;
}

.small-popup-processes[role="small-popup-processes"] section .has-checkbox {
  padding-left: 158px;
}

.small-popup-processes[role="small-popup-processes"] section .condition-input {
  margin-bottom: 3px !important;
}

.small-popup-processes[role="small-popup-processes"] section .has-checkbox:before, .small-popup-processes[role="small-popup-processes"] section .has-checkbox:after {
  content: " ";
  display: table;
}

.small-popup-processes[role="small-popup-processes"] section .has-checkbox:after {
  clear: both;
}

.small-popup-processes[role="small-popup-processes"] section .has-checkbox .form-checkbox {
  float: left;
  margin-left: -158px;
  width: 158px;
  margin-right: 0;
}

.small-popup-processes[role="small-popup-processes"] section .has-checkbox .form-control {
  float: left;
  width: 100%;
}

.small-popup-processes[role="small-popup-processes"] section .has-form-label {
  padding-left: 85px;
}

.small-popup-processes[role="small-popup-processes"] section .has-form-label:before, .small-popup-processes[role="small-popup-processes"] section .has-form-label:after {
  content: " ";
  display: table;
}

.small-popup-processes[role="small-popup-processes"] section .has-form-label:after {
  clear: both;
}

.small-popup-processes[role="small-popup-processes"] section .has-form-label .form-label {
  width: 85px;
  margin-left: -85px;
  float: left;
}

.small-popup-processes[role="small-popup-processes"] section .has-form-label .form-control {
  width: 100%;
  float: left;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group:first-child {
  width: 100%;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group:before, .small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group:after {
  clear: both;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group .col {
  float: left;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group .col:first-child {
  width: 330px;
}

.small-popup-processes[role="small-popup-processes"] section .form-horizontal .form-group .col:first-child + .col {
  width: 212px;
  text-align: right;
}

.small-popup-processes[role="small-popup-processes"] section:nth-of-type(2) {
  padding-top: 16px;
}

.small-popup-processes[role="small-popup-processes"] section:nth-of-type(3) {
  padding-top: 14px;
}

.small-popup-processes[role="small-popup-processes"] section .form-group:last-child {
  margin-bottom: 0;
}

.small-popup-processes[role="small-popup-add-trigger"] {
  top: 90px;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal {
  width: 310px;
  margin-bottom: 5px;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group {
  padding-left: 58px;
  margin-bottom: 20px;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group:before, .small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group:after {
  content: " ";
  display: table;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group:after {
  clear: both;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group .form-label {
  height: 26px;
  line-height: 20px;
  width: 58px;
  display: block;
  float: left;
  margin-left: -58px;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group .form-control {
  width: 100%;
}

.small-popup-processes[role="small-popup-add-trigger"] .form-horizontal .form-group:last-child {
  margin-bottom: 0;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 {
  margin: 0;
  font-size: 13px;
  font-weight: normal;
  margin: 0 0 10px;
  color: #060606;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table {
  width: 100%;
  border: 1px solid #565b5d;
  border-radius: 2px;
  border-collapse: separate;
  padding: 0 15px;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table td {
  border-bottom: 1px solid #565b5d;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table thead {
  color: #111212;
  font-size: 13px;
  font-weight: 700;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table thead td {
  padding: 5px 0;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td {
  padding: 6px 0;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td .form-control {
  width: 100%;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody td .form-control.bootstrap-select {
  width: 106px;
}

.small-popup-processes[role="small-popup-add-trigger"] section:last-of-type h2 + table tbody tr:last-child td {
  border-bottom: none;
}
.procces-section {
  padding: 25px 50px !important;
}

.process-id {
  width: 100% !important;
  margin-left: 0px !important;
}

* {
    user-select: text !important;
}

.pmap-header {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    font-size: 12px !important;
}

[role="handle"] {
  cursor: move;
}
