<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle>Processes </h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section class="procces-section">
    <div class="form-horizontal">
      <div class="form-group has-form-label">
        <label for="link-ida" class="form-label">link ID</label>
        <label class="form-label process-id">{{ link.id }}</label>
      </div>
      <div class="form-group">
        <div class="col has-form-label">
          <label for="pr-process" class="form-label">Process</label>
          <select id="pr-process" class="form-control" [(ngModel)]="currentProcess">
						<option *ngFor="let process of link.processes" [ngValue]="process">{{process.name}}</option>
					</select>
        </div>
        <div class="col">
          <button type="button" class="btn-event" (click)="addProcess()"><i class="pmap-25"></i> Add New Process</button>
        </div>
      </div>
      <div class="form-group has-checkbox condition-input">
        <label for="pr-chx-1" class="form-checkbox">
					<input type="checkbox" id="pr-chx-1" [(ngModel)]="link.condition"><i></i>
					<span class="form-label">Link has Condition</span>
				</label>
        <div [hidden]="!link.condition">
          <input type="text" class="form-control" [(ngModel)]="link.conditionCode" />
        </div>
      </div>
      <div class="form-group">
        <label for="pr-chx-2" class="form-checkbox">
					<input type="checkbox" id="pr-chx-2" [(ngModel)]="link.filterAgent"><i></i>
					<span class="form-label">Filter Agents</span>
				</label>
        <div [hidden]="!link.filterAgent">
          <input type="text" class="form-control" [(ngModel)]="link.filterAgentCode" />
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="form-group">
      <label for="pr-chx-3" class="form-checkbox">
				<input type="checkbox" id="pr-chx-3" [(ngModel)]="currentProcess.default_execution" ><i></i>
				<span class="form-label">Default Execution Process</span>
			</label>
      <label for="pr-chx-4" class="form-checkbox">
				<input type="checkbox" id="pr-chx-4" [(ngModel)]="currentProcess.mandatory"><i></i>
				<span class="form-label">Mandatory Process</span>
			</label>
    </div>
    <div class="form-group has-checkbox">
      <label for="pr-chx-5" class="form-checkbox">
				<input type="checkbox" id="pr-chx-5" [(ngModel)]="currentProcess.condition"><i></i>
				<span class="form-label">Has Condition</span>
			</label>
      <div [hidden]="!currentProcess.condition">
        <input type="text" class="form-control" [(ngModel)]="currentProcess.conditionCode">
      </div>
    </div>
    <div class="form-group has-form-label">
      <label for="pr-ida" class="form-label">ID</label>
      <label class="form-label process-id">{{ currentProcess.id }}</label>
    </div>
    <div class="form-group has-form-label">
      <label for="pr-namea" class="form-label">Name</label>
      <input for="pr-namea" type="text" class="form-control" [(ngModel)]="currentProcess.name">
    </div>
    <div class="form-group has-form-label">
      <label for="pr-txta" class="form-label">Description</label>
      <textarea id="pr-txta" class="form-control" [(ngModel)]="currentProcess.description"></textarea>
    </div>
  </section>
  <section>
    <div role="actions">
      <h3>Actions</h3>
      <div class="pmap-table">
        <div class="thead-wrapper">
          <div class="thead">
            <div class="tr pmap-header">
              <div class="cell">Id</div>
              <div class="cell">Name</div>
              <div class="cell">Last Update</div>
            </div>
          </div>
        </div>
        <div class="tbody-wrapper">
          <div class="tbody">
            <div *ngFor="let action of currentProcess.actions; let actionIndex = index" class="tr">
              <div class="cell">{{actionIndex}}</div>
              <div class="cell">{{action.name}}</div>
              <div class="cell">{{action.lastUpdate | date:'shortDate' }}</div>
              <div class="cell">{{action.lastUpdate | date:'shortTime'}}</div>
              <div class="cell"><button type="button" (click)="editAction(action, actionIndex)"><i class="pmap-35"></i></button></div>
              <div class="cell"><button type="button" (click)="deleteAction(actionIndex)"><i class="pmap-27"></i></button></div>
              <div class="cell">
                <div [hidden]="(actionIndex == 0)"><button type="button" (click)="moveActionUp(actionIndex)"><i class="pmap-33"></i></button></div>
              </div>
              <div class="cell">
                <div [hidden]="(actionIndex == (currentProcess.actions.length - 1))"><button type="button" (click)="moveActionDown(actionIndex)"><i class="pmap-37"></i></button></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="btn-event" (click)="addAction()"><i class="pmap-25"></i>Add Action</button>
    </div>
  </section>
  <footer>
    <button class="btn-event btn-danger" type="button" (click)="deleteProcess(currentProcess)"><i class="pmap-31"></i>Delete Process</button>
    <button *ngIf="false"  class="btn-event" type="button" (click)="testProcess(currentProcess)"><i class="pmap-26"></i>Test Process</button>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
  </footer>
</div>
