/* You can add global styles to this file, and also import other style files */
@import "~assets/sass/variables";
@import "~assets/sass/base";

html, body {
  height: 100%;
  @extend .main-background;
}

.section-title {
  @extend .section-title;
}

.section-sub-title {
  @extend .section-sub-title;
}

.pane-title {
  @extend .pane-header;
}

.bg-black {
  color: $light-color;
  background: $dark-color;
}

input, textarea, select {
  @extend .dark-input;
}

input, textarea, select {
  &.ng-invalid.ng-touched {
    border: 1px solid $error;
  }
  &:focus {
    border: 1px solid $turquoise-blue;
  }
}

textarea {
  overflow: hidden;
}

.main {
  overflow-y: scroll;

  ::-webkit-scrollbar {
    width: 0px; /* remove scrollbar space */
    background: transparent; /* make scrollbar invisible */
  }
}

.card {
  @extend .card;
}

.list-group-item.active {
  background-color: $blue-dark-2;
  border-color: $blue-dark-2;
}

.bs-datepicker-body, bs-datepicker-head {
  background: $grey-dark-1;
  border: 1px solid $grey-light-1;
  border-radius: 5px;
}

a {
  color: $turquoise-blue;
}

table, .table {
  color: #dddddd;
  thead {
    th {
      border-bottom: 1px solid $cool-grey;
    }
  }
  tbody {
    tr {
      height: 48px;
      &:hover {
        //&:not(:first-child) {

        background-color: $hover-color;
        box-shadow: -4px 0px 0px 0px $turquoise-blue;
      }
    }
  }
  th, td {
    border-top: 0px;
    border-bottom: 1px solid $cool-grey;
    a {
      text-decoration: underline;
    }

  }
}
