<div ngDraggable [handle]="popupHandle" role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2 role="handle" #popupHandle>{{map.name}} versions</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    <div class="pmap-table">
      <div class="thead-wrapper">
        <div class="thead pm-font">
          <div class="tr">
            <div class="cell ver-cell">Version</div>
            <div class="cell ver-cell">User</div>
            <div class="cell ver-cell">Date</div>
            <div class="cell ver-cell">Executions</div>
            <div class="cell ver-cell"></div>
          </div>
        </div>
      </div>
      <div class="tbody-wrapper">
        <div class="tbody pm-font ">
          <div class="tr" *ngFor="let version of versions; let versionIndex = index">
            <div class="cell ver-cell">{{ versionIndex }}</div>
            <div class="cell ver-cell">{{ version.lastEditor }}</div>
            <div class="cell ver-cell"><span class="date date-cell">{{ version.date | date:'short' }}</span></div>
            <div class="cell ver-cell">{{ version.executions.length }}</div>
            <div class="cell ver-cell"><button type="button" (click)="openExecutions(version)"><i class="pmap-24"></i></button></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
  </footer>
</div>
