<div [draggable] role="small-popup-processes" class="small-popup-processes">
  <header>
    <h2>{{map.name}} Executions</h2>
    <i role="closing" class="pmap-15" (click)="closeWindow()"></i>
  </header>
  <section>
    <div class="pmap-table">
      <div class="thead-wrapper">
        <div class="thead pm-font">
          <div class="tr">
            <div class="cell">Execution num</div>
            <div class="cell">Executed by</div>
            <div class="cell">Execution date</div>
            <div class="cell">Execution Report</div>
          </div>
        </div>
      </div>
      <div class="tbody-wrapper">
        <div class="tbody pm-font ">
          <div class="tr" *ngFor="let execution of version.executions; let executionIndex = index">
            <div class="cell">{{ executionIndex }}</div>
            <div class="cell">{{ execution.lastEditor }}</div>
            <div class="cell"><span class="date date-cell">{{ execution.date | date:'short' }}</span></div>
            <div class="cell"><button type="button" (click)="openExecution(execution)"><i class="pmap-24"></i></button></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <footer>
    <button class="btn-event btn-no-icon" (click)="closeWindow()" type="button">Close</button>
  </footer>
</div>
