@import "~assets/sass/base";

.pad {
  margin-top: 10px;
}

.link {
  cursor: pointer;
  &:hover {
    @extend .focus-shadow;
    transition: box-shadow 0.3s ease-in-out;
  }
}

.main {
  margin-top: 39px;
  margin-left: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  height: 150px;
  overflow-y: hidden;
}
