@import "~assets/sass/base";

.pad {
  margin-top: 45px;
}

.link {
  cursor: pointer;
  &:hover {
    @extend .focus-shadow;
    transition: box-shadow 0.3s ease-in-out;
  }
}

.main {
  margin-left: 50px;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  height: 150px;
  overflow-y: hidden;
}

.filter {
  h5 {
    padding-bottom: 15px;
  }
  div {
    padding-bottom: 10px;
    i {
      position: relative;
      top: 30px;
      left: 175px;
    }
  }

}
